<ion-view>
    <div class="bar bar-header">
        <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="student-info">
            <h1>Add Your Profile <br/>Photo</h1>
            <p>
                By adding profile photo, your tutor can easily recognize you when they meet you for the first time.
            </p>
        </div>
        <div class="my-tutor-view">
            <img ng-src="{{studentImage}}" class="uploadpic">
            <div class="list login">
                <a class="full-size-btn nocolor" ng-click="studentPicUpload()" >Upload Photo</a>
                <!-- <a class="CreateAccount fb-pic" ng-click="studentPicGalary()">Open gallery Photo</a> -->
            </div>

        </div>
        <a  class="skip">Skip</a>
    </ion-content>
</ion-view>
