<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="student-info student_name">
			<h3>Put Your Home Address</h3>
			<label class="item item-input">
				<textarea placeholder="" ng-model="student.age"></textarea>
			</label>
		</div>
	</ion-content>
</ion-view>