<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="student-info student_name">
			<h3>Age</h3>
			<label class="item item-input">
				<input type="number" placeholder="" ng-model="student.address">
			</label>
		</div>
	</ion-content>
</ion-view>