<ion-view>
    <div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="student-info">
            <h1>Edit Search</h1>
        </div>
        <ion-item-group class="tutor-view-list">
            <ion-item ng-click="gotoFindTutor1()">
                <a>What City you Live In?</a>
                <span style="float:right;color:red;">Edit</span>
                <p style="color: red;">{{searchedTutor.cityName}}</p>
            </ion-item>
            <ion-item ng-click="gotoFindTutor3()">
                <a>Grade</a>
                <span style="float:right;color:red;">Edit</span>
                <p style="color: red;">{{searchedTutor.grade}}</p>
            </ion-item>
            <ion-item ng-click="gotoFindTutor4()">
                <a>Subject</a>
                <span style="float:right;color:red;">Edit</span>
                <p style="color: red;">{{searchedTutor.subject}}</p>
            </ion-item>
            <ion-item ng-click="gotoFindTutor5()">
                <a>Hours Per Lesson</a>
                <span style="float:right;color:red;">Edit</span>
                <p style="color: red;">{{searchedTutor.hrs}}</p>
            </ion-item>
            <ion-item ng-click="gotoFindTutor6()">
                <a>Preferred Session Time</a>
                <span style="float:right;color:red;">Edit</span>
                <p style="color: red;">{{searchedTutor.preferredTime}}</p>
            </ion-item>
            <!-- <button ng-click="searchStep6()" style="text-align: center;">Search</button> -->
        </ion-item-group>
    </ion-content>
    <div class="bar bar-footer">
    <div class="footer-fix-btn">
      <button class="full-size-btn" ng-click="searchStep6()">Search</button>
      
    </div>
      
  </div>
</ion-view>
