<ion-view>
    <div class="bar bar-header">
      <img src="img/left-arrow-key-white.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
  <ion-content class="scroll scroll-content ionic-scroll has-header gender-select">
        <div class="student-info">
      <h1 class="white">What subject do
you want to learn?</h1>
<p>You can pick one only</p>
          <ion-list>
    <ion-item>
      <ion-label ng-click="subject1(testidsubject1)" ng-class="testidsubject1">Mathematic</ion-label>
    </ion-item>

    <ion-item>
      <ion-label ng-click="subject2(testidsubject2)" ng-class="testidsubject2">Science</ion-label>
    </ion-item>
  
  <ion-item>
      <ion-label ng-click="subject3(testidsubject3)" ng-class="testidsubject3">Bahasa Malaysia</ion-label>
    </ion-item>
  
  <ion-item>
      <ion-label ng-click="subject4(testidsubject4)" ng-class="testidsubject4">English</ion-label>
    </ion-item>
  
  <ion-item>
      <ion-label ng-click="subject5(testidsubject5)" ng-class="testidsubject5">Geography</ion-label>
    </ion-item>
  
  <ion-item>
      <ion-label ng-click="subject6(testidsubject6)" ng-class="testidsubject6">History</ion-label>
    </ion-item>
  <ion-item>
      <ion-label ng-click="subject7(testidsubject7)" ng-class="testidsubject7">Kemahiran Hidup</ion-label>
    </ion-item>
  <ion-item>
    <ion-label ng-click="subject8(testidsubject8)" ng-class="testidsubject8">Bahasa Cina</ion-label>
  </ion-item>
  <ion-item>
    <ion-label ng-click="subject9(testidsubject9)" ng-class="testidsubject9">Lukisan kejututera</ion-label>
  </ion-item>
  <ion-item>
    <ion-label ng-click="subjec10(testidsubject10)" ng-class="testidsubject10">Bahasa Arab</ion-label>
  </ion-item>

  </ion-list>
      </div>
  </ion-content>

  <div class="bar bar-footer next-fix-btn">

      <div class="add-btn">
        <span class="">3/5</span>
        <a ng-if="!fromEdit" ng-click="searchStep4()" class="right-next"><img src="img/Next-Button.png"></a>
        <a ng-if="fromEdit" ui-sref="editsearch" class="right-next"><img src="img/Next-Button.png"></a>
      </div>  
    </div>
  
</ion-view>
