<ion-view>
  	<div class="bar bar-header">
    	<img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
  	</div>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<!-- <div class="student-info">
			<h1>What city do you live in?</h1>
		</div> -->
		<div class="list login">
			<label class="arealable" ng-click="setvalue()" ng-if="visible">
				<h2>What city do</h2>
				<h2>you live in?</h2>
			</label>
			<label class="item item-input city_place" ng-if="!visible">
				<input type="text" gm-places-autocomplete placeholder="" name="city" class="city_place" ng-model="searchedTutor.city" data-tap-disabled="true" ng-click="disableTap()" ng-keyup="checksize()">
			</label>
			<!-- <h3 class="nearby1">Nearby</h3>
			<label class="item item-input border-near">

				<textarea placeholder="" ng-model="loggedInUser.address" ng-if="loggedInUser.address"></textarea>
				<textarea placeholder="" ng-model="location" ng-if="location"></textarea>
			</label> -->
			<a ng-if="!fromEdit" ng-click="searchStep1()" class="CreateAccount login-red alagse">Next<img src="img/next-wh.png"></a>
			<a ng-if="fromEdit" ui-sref="editsearch" class="CreateAccount login-red alagse">Next <img src="img/next-wh.png"></a>
			
		</div>
	</ion-content>
</ion-view>
