<ion-view>
  	<div class="bar bar-header">
    	<img src="img/left-arrow-key-white.png" class="imgclass" ng-click="$ionicGoBack()">
  	</div>
	<ion-content class="scroll scroll-content ionic-scroll has-header gender-select">
		<div class="student-info">
			<h1 class="white">Preferred tuition time</h1>
			<p>Choose all that apply</p>
			<div class="choose-day">
				<div class="head-row">
					<div class="col-1-day">
						<span>TIME</span>
					</div>
					<div class="col-1-day">
						<span>MORNING</span>
						<span class="small">8am - 12pm</span>
					</div>
					<div class="col-1-day">
						<span>AFTERNOON</span>
						<span class="small">12pm - 6pm</span>
					</div>
					<div class="col-1-day">
						<span>EVENING</span>
						<span class="small">6pm - 11pm</span>
					</div>
				</div>
				<div class="row-day">
					<div class="col-1-day">
						<span>MON</span>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.mon_mor" ng-checked="searchedTutor.mon_mor"></ion-checkbox>	
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.mon_after" ng-checked="searchedTutor.mon_after"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.mon_eve" ng-checked="searchedTutor.mon_eve"></ion-checkbox>
					</div>
				</div>
				<div class="row-day">
					<div class="col-1-day">
						<span>TUE</span>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.tue_mor" ng-checked="searchedTutor.tue_mor"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.tue_after" ng-checked="searchedTutor.tue_after"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.tue_eve" ng-checked="searchedTutor.tue_eve"></ion-checkbox>
					</div>
				</div>
				<div class="row-day">
					<div class="col-1-day">
						<span>WED</span>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.wed_mor" ng-checked="searchedTutor.wed_mor"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.wed_after" ng-checked="searchedTutor.wed_after"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.wed_eve" ng-checked="searchedTutor.wed_eve"></ion-checkbox>
					</div>
				</div>
				<div class="row-day">
					<div class="col-1-day">
						<span>THU</span>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.thu_mor" ng-checked="searchedTutor.thu_mor"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.thu_after" ng-checked="searchedTutor.thu_after"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.thu_eve" ng-checked="searchedTutor.thu_eve"></ion-checkbox>
					</div>
				</div>
				<div class="row-day">
					<div class="col-1-day">
						<span>FRI</span>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.fri_mor" ng-checked="searchedTutor.fri_mor"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.fri_after" ng-checked="searchedTutor.fri_after"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.fri_eve" ng-checked="searchedTutor.fri_eve"></ion-checkbox>
					</div>
				</div>
				<div class="row-day">
					<div class="col-1-day">
						<span>SAT</span>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.sat_mor" ng-checked="searchedTutor.sat_mor"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.sat_after" ng-checked="searchedTutor.sat_after"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.sat_eve" ng-checked="searchedTutor.sat_eve"></ion-checkbox>
					</div>
				</div>
				<div class="row-day">
					<div class="col-1-day">
						<span>SUN</span>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.sun_mor" ng-checked="searchedTutor.sun_mor"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.sun_after" ng-checked="searchedTutor.sun_after"></ion-checkbox>
					</div>
					<div class="col-1-day">
						<ion-checkbox checked="true" ng-model="searchedTutor.sun_eve" ng-checked="searchedTutor.sun_eve"></ion-checkbox>
					</div>
				</div>
			</div>
			<!-- <div class="add-btn">
				<a ng-if="!fromEdit" ng-click="searchStep6()" class="button-inner">Search <img src="img/next.jpg"></a>
				<a ng-if="fromEdit" ui-sref="editsearch" class="button-inner">Next <img src="img/next-wh.png"></a>
			</div> -->
		</div>
		<!-- <p class="page_num">5/5</p> -->
	</ion-content>
	<div class="bar bar-footer next-fix-btn">

      <div class="add-btn">
        <span class="">5/5</span>
        <a ng-if="!fromEdit" ng-click="searchStep6()" class="right-next"><img src="img/search-btnn.png"></a>
        <a ng-if="fromEdit" ui-sref="editsearch" class="right-next"><img src="img/search-btnn.png"></a>
      </div>  
    </div>
</ion-view>
