<ion-view>
  	<div class="bar bar-header">
    	<img src="img/left-arrow-key-white.png" class="imgclass" ng-click="$ionicGoBack()">
  	</div>
	<ion-content class="scroll scroll-content ionic-scroll has-header gender-select">
		<div class="student-info">
			<h1 class="white">What grade is the
student in?</h1>
			<ion-list>
				<ion-item>
					<ion-label ng-click="standard1(testidstandard1)" ng-class="testidstandard1">Standard 1-3</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="standard2(testidstandard2)" ng-class="testidstandard2">Standard 4-6 (UPSR)</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="standard3(testidstandard3)" ng-class="testidstandard3">Form 1-3 (PT3)</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="standard4(testidstandard4)" ng-class="testidstandard4">Form 4-5 (SPM)</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="standard5(testidstandard5)" ng-class="testidstandard5">O-Level/ IGCSE</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="standard6(testidstandard6)" ng-class="testidstandard6">A-Level/ Pre-U</ion-label>
				</ion-item>
				
				<ion-item>
					<ion-label ng-click="standard6(testidstandard6)" ng-class="testidstandard6">A-Level/ Pre-U</ion-label>
				</ion-item>
				
			</ion-list>
			
		</div>
		
	</ion-content>

	<div class="bar bar-footer next-fix-btn">
		<div class="add-btn">
			<span class="">2/5</span>
			<a ng-if="!fromEdit" ng-click="searchStep3()" class="right-next"><img src="img/Next-Button.png"></a>
			<a ng-if="fromEdit" ui-sref="editsearch" class="right-next"><img src="img/Next-Button.png"></a>
		</div>	
	</div>
	
</ion-view>
