<ion-view>
  	<div class="bar bar-header">
    	<img src="img/left-arrow-key-white.png" class="imgclass" ng-click="$ionicGoBack()">
  	</div>
	<ion-content class="scroll scroll-content ionic-scroll has-header gender-select">
		<div class="student-info">
			<h1 class="white">How many hour of Tutoring per lesson?</h1>
			<p>Time spent with tutor really depends on child and subject. Usually it vary from 1-2 hours per lesson</p>
			<ion-list>
				<ion-item>
					<ion-label ng-click="hour1(testidhour1)" ng-class="testidhour1">1 hour</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="hour2(testidhour2)" ng-class="testidhour2">1.5 hours</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="hour3(testidhour3)" ng-class="testidhour3">2 hour</ion-label>
				</ion-item>
				<ion-item>
					<ion-label ng-click="hour4(testidhour4)" ng-class="testidhour4">2.5 hours</ion-label>
				</ion-item>
			<!-- </ion-list>
			<div class="add-btn">
				<a ng-if="!fromEdit" ng-click="searchStep5()" class="button-inner">Next<img src="img/next.jpg"></a>
				<a ng-if="fromEdit" ui-sref="editsearch" class="button-inner">Next <img src="img/next-wh.png"></a>
			</div>-->
		</div>
		<!--<p class="page_num">4/5</p> -->

	</ion-content>
	<div class="bar bar-footer next-fix-btn">

      <div class="add-btn">
        <span class="">4/5</span>
        <a ng-if="!fromEdit" ng-click="searchStep5()" class="right-next"><img src="img/Next-Button.png"></a>
        <a ng-if="fromEdit" ui-sref="editsearch" class="right-next"><img src="img/Next-Button.png"></a>
      </div>  
    </div>
</ion-view>
