<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="bar bar-header">
    		<img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
		</div>
		<div class="student-info one-step-way">
			<h1>One Step Away!</h1>
			<p>
				Our tutor need a little bit about your information before they can decide whether to accept your lesson request. You'll have to do this only once.
			</p>
		</div>
		<ion-item-group class="tutor-view-list">
			<ion-item>
				<a >1. Add a profile picture</a>
				<span style="float:right;" ui-sref="addPicture" ng-if="!student.address">Add</span>
				<span style="float:right; color: #F1473A" ng-if="student.address">Added</span>
			</ion-item>
			<ion-item>
				<a >2. Add student information</a>
				<span style="float:right;" ui-sref="studentInformation">Add</span>
				<!-- <span style="float:right; color: #F1473A" ng-if="">Added</span> -->
			</ion-item>
			<div class="list login">
				<!-- <a class="CreateAccount login-red">Request Lesson</a> -->

			</div>
		</ion-item-group>
		<button class="full-size-btn">Request Lesson</button>
	</ion-content>
</ion-view>
