<ion-view>
<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="aboutmedetail">
			<h1>About me</h1>
			<p>{{selectedTutorsProfile.about}}</p>	
		</div>

	</ion-content>
</ion-view>