<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="student-info info_center">
            <h1>It's looks great!</h1>
            <p>
                Thank you foor putting a photo.
            </p>
        </div>
        <div class="my-tutor-view add-profile-pic">
            <img ng-src="{{studentImage}}" class="uploadpic redborder">
            <p class="text-center">Change Photo</p>
            <div class="list login">
                <button class="full-size-btn" ui-sref="oneStepAway">Continue</button>
            </div>
        </div>
    </ion-content>
</ion-view>
