<ion-view ng-if="!studentgender">
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
	<ion-content class="scroll scroll-content ionic-scroll has-header" >
		<div ng-if="!hidestudentinfo">
			<div class="student-info">
				<h1>Add Student Information</h1>
				<p>Give tutor some info about your child and your complete address that you wish a tutoring session can be held.</p>
			</div>
			<div class="list login">
				<label class="top_feild">Student Name</label>
			    <div class="pop-click-box">
					<label class="item item-input">
						<input type="text" placeholder="" ng-model="student.name">
					</label>
					<div ng-if="student.name" class="redcolor popup-clk" ng-click="editstudentname()">Edit</div>
					<div ng-if="! student.name" class="redcolor popup-clk" ng-click="editstudentname()">Add</div>
				</div>
				<label class="top_feild">Age</label>
			    <div class="pop-click-box">
					<label class="item item-input">
						<input type="text" placeholder="" ng-model="student.age">
					</label>
					<div ng-if="student.age" class="redcolor popup-clk" ng-click="editstudentage()">Edit</div>
					<div ng-if="! student.age" class="redcolor popup-clk" ng-click="editstudentage()">Add</div>
				</div>
				<label class="top_feild">Gender</label>
			    <div class="pop-click-box">
					<label class="item item-input">
						<input type="text" placeholder="" ng-model="student.gender">
					</label>
					<div ng-if="student.gender" class="redcolor popup-clk" ng-click="editstudentgender(studentgender)">Edit</div>
					<div ng-if="! student.gender" class="redcolor popup-clk" ng-click="editstudentgender(studentgender)">Add</div>
				</div>
				<label class="top_feild">Your Home Address</label>
			    <div class="pop-click-box">
					<label class="item item-input">
						<input type="text" placeholder="" ng-model="student.address">
					</label>
					<div ng-if="student.address" class="redcolor popup-clk" ng-click="editstudentaddress()">Edit</div>
					<div ng-if="! student.address" class="redcolor popup-clk" ng-click="editstudentaddress()">Add</div>
				</div>
				<button class="full-size-btn send-rrquest-now-pic" ng-click="requestTeacher()"><img src="img/color-pic.png">{{student.address ? 'Request Lesson' : 'Send Request Now'}}</button>
			</div>
		</div>
		<div ng-if="hidestudentinfo">
			<div class="top-red-div">
			
			</div>
			<div class="my-tutor-view with-red-head">
				<div class="tut-img">
					<img ng-src="{{selectedTutorsProfile.img}}">
				</div>
				<!-- <p class="view-pro"><a href="">View Profile</a></p> -->
				<div class="tutor-name">
					<p>
						Hi, I m {{selectedTutorsProfile.firstname}} {{selectedTutorsProfile.lastname}}
						<img src="img/man-icon.png" ng-if="selectedTutorsProfile.gender == 'Male'">
						<img src="img/lady-icon.png" ng-if="selectedTutorsProfile.gender == 'Female'">
					</p>
					<p class="small">
						<img ng-repeat="i in getNumber(selectedTutorsProfile.review_rating) track by $index" src="img/star.png">
						<span>{{selectedTutorsProfile.review_count ? selectedTutorsProfile.review_count : 0}} Reviews</span>
					</p>
					<p class="small"><b>RM {{selectedTutorsProfile.rate}}/HR</b></p>
				</div>
			</div>
			<div class="lesson-request-sent">
				<h3><img src="img/req-sent.png"> Lesson request sent</h3>
				<p>
					{{selectedTutorsProfile.firstname}}{{selectedTutorsProfile.lastname}} respond to your request shortly. you can view this tutor request status at my tutor menu 
				</p>
			</div>
			<div class="about-content">
				<div class="about-info">
					<h2>About Me</h2>
					<p>{{selectedTutorsProfile.about}}</p>
				</div>
				<div class="about-info">
					<h2>Qualification</h2>
					<p ng-repeat="qualification in selectedTutorsProfile.qualificationList track by $index"><img src="img/degree.png"> {{qualification}}</p>
					<!-- <p><img src="img/record.png"> Master degree in machanical engineering</p> -->
				</div>
				<div class="about-info">
					<h2>ID Verification</h2>
					<p><img src="img/certificate.png"> Certificate of graduation</p>
					<p><img src="img/identity.png"> Identity Card</p>
					<p><img src="img/phone-number.png"> Phone number</p>
					<p><img src="img/passed.png"> Passed interview and tests</p>
				</div>
				<div class="about-info">
					<div class="detail-left">
						<h2>Languages</h2>
					</div>
					<div class="detail-right">
						<p ng-repeat="language in selectedTutorsProfile.raceList track by $index">{{language}}</p>
					</div>
				</div>
				<div class="about-info">
					<div class="detail-left">
						<h2>Policies</h2>
					</div>
					<div class="detail-right">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
				</div>
				<div class="about-info">
					<div class="detail-left">
						<h2>Total</h2>
					</div>
					<div class="detail-right">
						<p>
							<span class="price">
								RM {{selectedTutorsProfile.rate ? selectedTutorsProfile.rate : 0}}
							</span>
							<br/> 
							<span style="color:#F1473A;">See price breackdown</span>
						</p>
					</div>
				</div>
				<div class="about-info rating-img">
					<h2>{{selectedTutorsProfile.review_count}} Reviews</h2>
					<p class="small">
						<img ng-repeat="i in getNumber(selectedTutorsProfile.review_rating) track by $index" src="img/star.png">
						<span>{{selectedTutorsProfile.review_count}} Reviews</span>
					</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
<ion-view ng-if="studentgender">
	<ion-content class="scroll scroll-content ionic-scroll has-header" >
		<div class="studentgender">
			<div class="gender-header">
				Gender
			</div>
			<ul>
				<li>
					Male 
					<span class="sector-gender">
						<img src="img/profile-pic.png" class="border-rd" ng-click="ismale(malestudent)" ng-if="malestudent">
						<img src="img/profile-pic.png" ng-click="ismale(malestudent)" ng-if="!malestudent">
					</span>
				</li>
				<li>
					Female 
					<span class="sector-gender">
						<img src="img/profile-pic.png" class="border-rd" ng-click="isfemale(femalestudent)" ng-if="femalestudent">
						<img src="img/profile-pic.png" ng-click="isfemale(femalestudent)" ng-if="!femalestudent">
					</span>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
