<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="bar bar-header">
    		<img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
    		<span style="float:right;">
				<img class="hd-icon2" src="img/16.png" ui-sref="editsearch"> &nbsp;&nbsp;
				<img class="hd-icon2" src="img/17.png" ng-click="popup(popupshow)" ng-if="!popupshow">
				<img src="img/upd.png" ng-click="popup(popupshow)" ng-if="popupshow">
			</span>
  		</div>
  		<div ng-if="popupshow" class="popupcls">
  			<ul class="sort-li">
  				<li>Sort by tutor</li>
  				<li ng-click="filterlow()">Lowest Price</li>
  				<li ng-click="filterhigh()">Highest Price</li>
  				<li>Ratings</li>
  			</ul>
  			<div class="overlay-sort">
  			</div>
  		</div>
		<div class="student-info">
			<p class="top-search-count">
				{{length}} {{searchedTutor.subject}} tutor(s) <br/>match your search
				
			</p>
		</div>
		<ion-item-group ng-class="{{listclass}}" >
			<ion-item ng-repeat="tutor in selectedTutors | orderBy:tutor.rate:reverse" ng-click="selectTutor(tutor.id, tutor.img)">
				<div class="tutor-thumbnail">
					
					<div class="thum-img">
						<a> <img ng-src="{{tutor.img}}"> </a>
					</div>
					<div class="tutor-cont">
						<h3>
							{{tutor.firstname}} {{tutor.lastname}} 
							<img class="hd-icon" src="img/23.png" ng-if="tutor.gender == 'Male'">
							<img class="hd-icon" src="img/24.png" ng-if="tutor.gender == 'Female'">
							<p class="price-teacher">RM{{tutor.rate ? tutor.rate : 0}}/hr</p>
						</h3>
						<p>
							<img ng-repeat="i in getNumber(tutor.review_rating) track by $index" class="hd-icon" src="img/18b.png">
							<img ng-repeat="i in getNumber(5-tutor.review_rating) track by $index" class="hd-icon" src="img/18a.png"> 
							<span>{{tutor.review_count}} Reviews</span>
						</p>
						<p>{{tutor.qualification}} in {{tutor.subject}}</p>
						<p>{{tutor.institution}}</p>
						<p>
						</p>
					</div>
				</div>
			</ion-item>
		</ion-item-group>
	</ion-content>
</ion-view>