<ion-view>
    <!-- <div class="bar bar-header redheader">
    <div class="row responsive-sm">
      <div class="col first"> <a class="home-link" href=""> </a> <span><a href=""></a></span>
      
   	  </div>
           <div class="header-shadow"></div>
    </div>
</div> -->
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="top-red-div">
        </div>
        <div class="my-tutor-view with-red-head">
            <div class="tut-img">
                <img ng-src="{{selectedTutorsProfile.img}}">
            </div>
            <!-- <p class="view-pro"><a href="">View Profile</a></p> -->
            <div class="tutor-name">
                <p>
                    Hi, I m {{selectedTutorsProfile.firstname}} {{selectedTutorsProfile.lastname}}
                    <img src="img/man-icon.png" ng-if="selectedTutorsProfile.gender == 'Male'">
                    <img src="img/lady-icon.png" ng-if="selectedTutorsProfile.gender == 'Female'">
                    <p>{{selectedTutorsProfile.race}}</p>
                </p>
                <p class="small">
                    <img ng-repeat="i in getNumber(selectedTutorsProfile.review_rating) track by $index" class="hd-icon" src="img/18b.png">
					<img ng-repeat="i in getNumber(5-selectedTutorsProfile.review_rating) track by $index" class="hd-icon" src="img/18a.png">
                    <span>{{selectedTutorsProfile.review_count ? selectedTutorsProfile.review_count : 0}} Reviews</span>
                </p>
                <p class="small"><b>RM {{selectedTutorsProfile.rate}}/HR</b></p>
            </div>
        </div>
        <div class="about-content">
            <div class="about-info">
                <h2>About Me</h2>
                <p class="about_me">{{selectedTutorsProfile.about}}</p>
                <span class="readmore" ng-click="readmore()">Read More</span>
            </div>
            <div class="about-info">
                <h2>Qualification</h2>
                <p ng-repeat="qualification in selectedTutorsProfile.qualificationList track by $index"><img src="img/degree.png"> {{qualification}}</p>
                <!-- <p><img src="img/record.png"> Master degree in machanical engineering</p> -->
            </div>
            <div class="about-info">
                <h2>ID Verification</h2>
                <p><img src="img/certificate.png"> Certificate of graduation</p>
                <p><img src="img/identity.png"> Identity Card</p>
                <p><img src="img/phone-number.png"> Phone number</p>
                <p><img src="img/passed.png"> Passed interview and tests</p>
            </div>
            <div class="about-info">
                <div class="detail-left">
                    <h2>Languages</h2>
                </div>
                <div class="detail-right">
                    <p ng-repeat="language in selectedTutorsProfile.raceList track by $index">{{language}}</p>
                </div>
            </div>
            <div class="about-info">
                <div class="detail-left">
                    <h2>Policies</h2>
                </div>
                <div class="detail-right">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><a ui-sref="goodfit" class="col-red">GOOD FIT GUARANTEE</a>
                </div>
            </div>
            <div class="about-info">
                <div class="detail-left">
                    <h2>Total</h2>
                </div>
                <div class="detail-right">
                    <p>
                        <span class="price">
							RM {{selectedTutorsProfile.rate ? selectedTutorsProfile.rate : 0}}
						</span>
                        <br/>
                        <span style="color:#F1473A;">See price breackdown</span>
                    </p>
                </div>
            </div>
            <div class="about-info rating-img">
                <h2>{{selectedTutorsProfile.review_count}} Reviews</h2>
                <p class="small">
                    <img ng-repeat="i in getNumber(selectedTutorsProfile.review_rating) track by $index" class="hd-icon" src="img/18b.png">
					<img ng-repeat="i in getNumber(5-selectedTutorsProfile.review_rating) track by $index" class="hd-icon" src="img/18a.png">
                    <span>{{selectedTutorsProfile.review_count}} Reviews</span>
                </p>
            </div>
            <ion-item-group class="tutor-list small-tutor-list">
                <ion-item class="item">
                    <div class="tutor-thumbnail">
                        <div class="thum-img">
                            <a href="my-tutor-view.html"> <img src="img/thumb1.png"> </a>
                        </div>
                        <div class="tutor-cont">
                            <h3>Siti Amirah </h3>
                            <p class="small-list-date">March 2016</p>
                        </div>
                        <div class="small-tutor-list-content">
                            <p>Mathematic Form 1-3 (PT3) Student Muhammaf Fahril Adam, 15</p>
                            <span class="readmore" ui-sref="reviewpage">Read More</span>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item">
                    <div class="tutor-thumbnail">
                        <div class="thum-img">
                            <a href="my-tutor-view.html"> <img src="img/thumb1.png"> </a>
                        </div>
                        <div class="tutor-cont">
                            <h3>Siti Amirah </h3>
                            <p class="small-list-date">March 2016</p>
                        </div>
                        <div class="small-tutor-list-content">
                            <p>Mathematic Form 1-3 (PT3) Student Muhammaf Fahril Adam, 15</p>
                            <span class="readmore" ui-sref="reviewpage">Read More</span>
                        </div>
                    </div>
                </ion-item>
            </ion-item-group>
        </div>
        <button class="full-size-btn" ui-sref="oneStepAway">Request Lesson</button>
    </ion-content>
</ion-view>
