<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header" ng-init="getstudentreview()">
		<div class="student-info">
			<h1>Tutoring Session Report</h1>
			<p>
				Total Tutoring session 
			</p>
		</div>
    	<ion-item-group ng-class="{{listclass}}" >
			<ion-item ng-repeat="report in reports" ng-click="getreport(report)">
				<div class="tutor-thumbnail">
					<div class="tutor-cont">
						<div class="rate-sub">
							<span class="day-sched" style="margin-bottom:10px; display:block;">{{report.date | date:'ddMMM'}}</span>
						</div>
						<div class="rate-sub">
							<b>Session Summary</b><br/>
							<span>{{report.session_report}}</span><br/>
						</div>  
					</div>
				</div>
				<!-- <div class="tutor-thumbnail">
					<div class="tutor-cont">
						<h3>
							{{report.request_data.subject}} 
						</h3>
					</div>
				</div> -->
			</ion-item>
		</ion-item-group>
	</ion-content>
</ion-view>


