<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header" ng-init="getstudentreview()">
		<div class="student-info">
			<h1>Tutoring Session Report</h1>
			<p>
				Choose a subject 
			</p>
		</div>
    	<ion-item-group ng-class="{{listclass}}" >
			<ion-item ng-repeat="report in reports | unique: 'request_data.subject'" ng-click="gotoselectsession(report)">
				<!-- <div class="tutor-thumbnail">
					<div class="tutor-cont">
						<div class="rate-sub">
							<span class="day-sched" style="margin-bottom:10px; display:block;">Friday</span>
							<h3>{{schedule.day}} {{schedule.month}}</h3>
							<span class="">{{schedule.time}}</span>
						</div>
						<div class="rate-sub">
							{{report.request_data.subject}}</b></span><br/>
						</div>  
						
					</div>
				</div> -->
				<div class="tutor-thumbnail">
					<div class="tutor-cont">
						<h3>
							{{report.request_data.subject}} 
						</h3>
					</div>
				</div>
			</ion-item>
		</ion-item-group>
	</ion-content>
</ion-view>


