<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header" ng-init="getstudentreview()">
    	<div class="student-info">
	        <h1>Tutoring Session Report</h1>
	        <p>
	            Choose student name
	        </p>
	    </div>
    	<ion-item-group class="tutor-list">
            <ion-item ng-repeat="report in reports | unique: 'request_data.student_name'" ng-click="gotoselectsubject(report.request_data.student_name)">
                <div class="tutor-thumbnail">
                    <div class="tutor-cont">
                        <h3>{{report.request_data.student_name}}</h3>
                    </div>
                </div>
            </ion-item>
        </ion-item-group>
	</ion-content>
</ion-view>