<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header list login">
        <div class="student-info">
            <h1>{{report.request_data.subject}}</h1>
            <p>
                {{report.request_data.grade}}
            </p>
        </div>
        <ion-item-group class="tutor-list">
            <ion-item>
                <div class="transaction-left">
                    <p>Date</p>
                    <p>Day</p>
                    <p>Start</p>
                    <p>End</p>
                </div>
                <div class="transaction-right">
                    <p>{{report.date | date:'dd MMM'}}</p>
                    <p>{{report.date | date:'EEEE'}}</p>
                    <p>{{report.time}}</p>
                    <p>11.00 am</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="transaction-left">
                    <p>Place</p>
                </div>
                <div class="transaction-right">
                    <p>{{scheduleData.request_data.address1}}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="transaction-left">
                    <p>Tutor</p>
                    
                </div>
                <div class="transaction-right">
                    <p>{{report.tutor_name}} <img src="img/color-pic.png" height="30px;"></p>
                </div>
            </ion-item>
            <ion-item>
                <div class="transaction-left">
                    <p>Session Summary</p>
                </div>
                <div class="transaction-right">
                    <p>{{report.session_report}}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="transaction-left">
                    <p>Communication</p>
                    <p>Behavior</p>
                    <p>Comprihension</p>
                </div>
                <div class="transaction-right">
                    <p>
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18b.png">
                        <img class="hd-icon" src="img/18b.png">
                        <img class="hd-icon" src="img/18b.png">
                        
                    </p>
                    <p>
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18b.png">
                        <img class="hd-icon" src="img/18b.png">
                        <img class="hd-icon" src="img/18b.png">
                    </p>
                    <p>
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18a.png">
                        <img class="hd-icon" src="img/18b.png">
                    </p>
                </div>
            </ion-item>
            <br/>
            <br/>
            
            <br/>
            <br/>
        </ion-item-group>
    </ion-content>
</ion-view>
