<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<form name="changePasswordForm" role="form" novalidate>
			<div class="student-info">
				<!-- <img src="img/login-logo.png" class="login-logo-mar"> -->
				<p class="log-sig"><a ui-sref="signup1">Change Email</a></p>
			</div>
			<div class="list login">
				<label class="item item-input">
					<input type="password" placeholder="Old Password" name="password" ng-model="usermodify.oldPassword" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$error.required">Password is required</span>
				<label class="item item-input">
					<input type="password" placeholder="New Password" name="password" ng-model="usermodify.newPassword" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$error.required">Password is required</span>
				<label class="item item-input">
					<input type="password" placeholder="Confirm Password" name="password" ng-model="usermodify.confirmNewPassword" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$error.required">Password is required</span>
				<a ng-click="submitPassword()" class="CreateAccount login-red" ng-if="changePasswordForm.$valid">Submit</a>
				<!-- <a ui-sref="signup1" class="CreateAccount">Create Account</a> -->
			</div>
		</form>
	</ion-content>
</ion-view>