<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<form name="changeEmailForm" role="form" novalidate>
			<div class="student-info">
				<!-- <img src="img/login-logo.png" class="login-logo-mar"> -->
				<p class="log-sig"><a ui-sref="signup1">Change Email</a></p>
			</div>
			<div class="list login">
				<label class="item item-input">
					<input type="email" placeholder="Enter New Email Address" ng-pattern="emailFormat" name="email" ng-model="usermodify.email" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="changeEmailForm.email.$touched && changeEmailForm.email.$error.required">Email is required</span>
				<span style="color: red; padding-left: 30%" ng-show="changeEmailForm.email.$touched && changeEmailForm.email.$error.email && changeEmailForm.email.$error.pattern">Invalid Email</span>
				
				
				
				<a ng-click="submitEmail()" class="CreateAccount login-red" ng-if="changeEmailForm.$valid">Submit</a>
				<!-- <a ui-sref="signup1" class="CreateAccount">Create Account</a> -->
			</div>
		</form>
	</ion-content>
</ion-view>