<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class=invitefrnd> 
			<h3>Invite Friend</h3>
			<div ng-click="facebook()" class="inv-sep">
				<img src="img/facebook_circle_color-256.png"> Facebook
			</div>
			<div ng-click="watsapp()" class="inv-sep">
				<img src="img/whatsapp-official-logo-png-download.png"> watsapp
			</div>
		</div>
		
	</ion-content>
</ion-view>