<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header" ng-init="getnotification()">
		<div class="student-info">
			<h1>Notifications</h1>
		</div>
		<ion-item-group class="tutor-list">
			<ion-item ng-repeat="notification in notifications">
				<div class="tutor-thumbnail">
					
					<div class="thum-img">
						<a> <img ng-src="{{tutor.img}}"> </a>
					</div>
					<div class="tutor-cont">
						<h3>{{notification.from_user}}</h3>
						<p>
							<span ng-bind-html="notification.message"></span>
						</p>
					</div>
				</div>
			</ion-item>
		</ion-item-group>
	</ion-content>
</ion-view>