<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        
        <div class="splash-img">
            <img src="img/splash-bg.jpg" alt="">
            <h2 class="user-name-land">Hi, {{loggedInUser.user.firstname}} {{loggedInUser.user.lastname}}</h2>
            <div class="tagline">
            	<img src="img/welcome.png" class="first-screen-logo">
                <p>Educate.<br/> Being smart is great.</p>
                
            </div>
        </div>
        <div class="find-your-tutor" style="text-align:center; background:#F1473A; padding:15px; margin-top: -5px;">
			<a ui-sref="findTutor1"><img src="img/ser.png" alt=""></a>
			<h4 style="color:#fff; font-size:21px;" class="">Find Your Tutor</h4><br/><br/>
			<a class="new-search" ui-sref="findTutor1">Start a new search</a>
		</div>
		<div class="list-first" style="margin-top:0 !important; background:#F1473A; padding:15px; text-align:center;">
		</div>
		<div class="hiw-faq">
			<span  ui-sref="hiw" class="hiw">How it works</span><br>
			<span  ui-sref="faq" class="hiw">Frequently asked question (FAQ)</span>
		</div>
			
		<!-- <div class="" style="margin-top:15px; text-align:center;">
			<span style="color:#333; font-size:14px;"><br/><br/>By signing up, you agree to our MaiTutor Terms of service payment terms of services and privacy policy</span>
			
		</div> -->
    </ion-content>
</ion-view>