<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="student-info">
            <h1>Settings</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
        </div>
        <ion-item-group class="tutor-view-list">
            <ion-item ui-sref="uploadPic">
                <a>Profile Pic</a>
                <span style="float:right;">edit</span>
                <p style="color: red;"></p>
            </ion-item>
            <ion-item ui-sref="changePassword">
                <a>Change Password</a>
                <span style="float:right;">edit</span>
                <p style="color: red;">{{searchedTutor.grade}}</p>
            </ion-item>
            <ion-item ui-sref="changeEmail">
                <a>Change Email</a>
                <span style="float:right;">edit</span>
                <p style="color: red;">{{searchedTutor.subject}}</p>
            </ion-item>
        </ion-item-group>
        <a ng-click="login()" class="CreateAccount login-red setting-submit">Submit</a>
    </ion-content>
</ion-view>
