<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="student-info">
            <h1>Add Your Profile Pic</h1>
            <p>
                
            </p>
        </div>
        <div class="my-tutor-view">
            <img ng-src="{{loggedInUser.parentImage}}">
            <div class="list login">
                <a class="CreateAccount login-red uplbtn" ng-click="parentPicUpload()">Upload Photo</a>
                <a class="CreateAccount fb-pic" ng-click="parentPicGalary()">Open gallery Photo</a>
            </div>
        </div>
    </ion-content>
</ion-view>
