<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header list login">
        <div class="student-info">
            <h1>{{scheduleData.request_data.subject}}</h1>
            <p>
                {{scheduleData.request_data.grade}}
            </p>
        </div>
        <ion-item-group class="tutor-list">
            <ion-item>
                <div class="transaction-left">
                    <p>Date</p>
                    <p>Day</p>
                    <p>Start</p>
                    <p>End</p>
                </div>
                <div class="transaction-right">
                    <p>19 Aug 2016</p>
                    <p>Friday</p>
                    <p>9.00 am</p>
                    <p>11.00 am</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="transaction-left">
                    <p>Place</p>
                </div>
                <div class="transaction-right">
                    <p>{{scheduleData.request_data.address1}}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="transaction-left">
                    <p>Client</p>
                    <p>Student</p>
                </div>
                <div class="transaction-right">
                    <p>{{scheduleData.request_data.grade}} <img src="img/color-pic.png" height="30px;"></p>
                    <p>{{scheduleData.request_data.student_name}}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="transaction-left">
                    <p>Tutoring Session</p>
                    <p>Remaining Session</p>
                </div>
                <div class="transaction-right">
                    <p>3 rd</p>
                    <p>2</p>
                </div>
            </ion-item>
            <br/>
            <br/>
            
            <br/>
            <br/>
        </ion-item-group>
    </ion-content>
</ion-view>
