<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header" ng-init="getScheduleList()">
		<div ng-if="upcommingschedules.length+schedules.length">
			<div class="student-info">
				<h1>Schedule</h1>
				<p>
					<b>Today Tutoring Session</b>
				</p>
			</div>
			<ion-item-group class="tutor-list schedule-list">
				<ion-item ng-repeat="schedule in schedules" ng-click="scheduleDetail(schedule)">
					<div class="tutor-thumbnail grn-brd">
						<div class="tutor-cont">
							<div class="rate-sub">
								<span class="day-sched" style="margin-bottom:10px; display:block;">Friday</span>
								<h3>{{schedule.day}} {{schedule.month}}</h3>
								<span class="">{{schedule.time}}</span>
							</div>
							<div class="rate-sub">
								<span class="act-green"><b>{{schedule.request_data.subject}}</b></span><br/>
								<span>From 1-3 (PT3)</span><br/>
								<span>Client | {{schedule.request_from}}</span><br/>
								<span>Student | {{schedule.request_data.student_name}}</span>
							</div>  
							
						</div>
					</div>
				</ion-item>
			</ion-item-group>
			<div class="student-info">
				<p>
					<b>Upcoming Tutoring Session</b>
				</p>
			</div>
			<ion-item-group class="tutor-list schedule-list">
				<ion-item ng-repeat="upcommingschedule in upcommingschedules" ng-click="scheduleDetail(upcommingschedule)">
					<div class="tutor-thumbnail rd-brd">
						<div class="tutor-cont">
							<div class="rate-sub">
								<span class="day-sched" style="margin-bottom:10px; display:block;">Friday</span>
								<h3>{{upcommingschedule.day}} {{upcommingschedule.month}}</h3>
								<span class="">{{upcommingschedule.time}}</span>
							</div>
							<div class="rate-sub">
								<span class="act-green"><b>{{upcommingschedule.request_data.subject}}</b></span><br/>
								<span>From 1-3 (PT3)</span><br/>
								<span>Client | {{upcommingschedule.request_from}}</span><br/>
								<span>Student | {{upcommingschedule.request_data.student_name}}</span>
							</div>  
							
						</div>
					</div>
				</ion-item>
			</ion-item-group>
		</div>
		<div ng-if="upcommingschedules.length+schedules.length == 0">
			<div class="student-info">
				<h1>Schedule</h1>
				<p>
					<b>No booked session</b>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>