<ion-view>
	<div class="bar bar-header">
		<div class="row responsive-sm">
			<div class="col first">
				<a class="home-link" href=""> </a> <span><a href=""></a></span>
			</div>
			<div class="header-shadow"></div>
		</div>
	</div>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="student-info">
			<img src="img/login-logo.png">
		</div>
		<div class="list login">
			<form name="forgetPasswordForm" role="form" novalidate>
				<label class="item item-input">
					<input type="email" placeholder="Enter Your Email Address" name="email" ng-model="oldUser.email">
				</label>
				<span style="color: red; padding-left: 30%" ng-show="forgetPasswordForm.email.$touched && forgetPasswordForm.email.$error.required">Email is required</span>
				<span style="color: red; padding-left: 30%" ng-show="forgetPasswordForm.email.$touched && forgetPasswordForm.email.$error.email && forgetPasswordForm.email.$error.pattern">Invalid Email</span>
				<!-- <a ng-click="forgetPassword()" class="CreateAccount login-red" ng-if="forgetPasswordForm.$valid">Submit</a> -->
				<button class="button button-full button-assertive" ng-click="forgetPassword()" ng-disabled="!forgetPasswordForm.$valid">Next <img src="img/next-wh.png"></button>
			</form>
		</div>
	</ion-content>
</ion-view>
