<ion-view>
	<!-- <div class="bar bar-header">
		<div class="row responsive-sm">
			<div class="col first">
				<a class="home-link" href=""> </a> <span><a href=""></a></span>
			</div>
			<div class="header-shadow"></div>
		</div>
	</div> -->
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<form name="loginForm" role="form" novalidate>
			<div class="student-info">
				<img src="img/login-logo.png" class="login-logo-mar">
				<p class="log-sig"><a ui-sref="signup1">Sign up</a></p>
			</div>
			<div class="list login focus-in">
				<label class="item item-input">
					<input type="email" placeholder="Enter Your Email Address" ng-pattern="emailFormat" name="email" ng-model="user.email" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="loginForm.email.$touched && loginForm.email.$error.required">Email is required</span>
				<span style="color: red; padding-left: 30%" ng-show="loginForm.email.$touched && loginForm.email.$error.email && loginForm.email.$error.pattern">Invalid Email</span>
				<label class="item item-input">
					<input type="password" placeholder="Password" name="password" ng-model="user.password" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="loginForm.password.$touched && loginForm.password.$error.required">Password is required</span>
				<div class="ForgotText">
					<div class="row">
						<div class="col col-50">
							<ion-list>
								<ion-checkbox ng-model="filter.blue" ng-click="rememberMe()">Remember me</ion-checkbox>
							</ion-list>
						</div>
						<div class="col col-50">
							<div class="Forgot-password">
								<a ui-sref="forgotPassword">Forgot password ?</a>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<!-- <a ng-click="login()" class="CreateAccount login-red" ng-if="loginForm.$valid">Login</a> -->
				<a ng-click="login()" ng-if="loginForm.$valid" class="login-btn-new"><img src="img/login-btn.jpg"></a>
				<!-- <a ui-sref="signup1" class="CreateAccount">Create Account</a> -->
			</div>
		</form>
	</ion-content>
</ion-view>
