<ion-view>
  <div class="bar bar-header">
    <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
  </div>
  <ion-content class="scroll scroll-content ionic-scroll has-header">
    <div class="student-info">
      <h1>What's your date of birth?</h1>
    </div>
    <div class="list login">
      <form name="signupForm2" role="form" novalidate>
        <!-- <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" ng-model="newUser.dob">
        </label> -->
        <p class="lable-form-p">Date of birth</p>
        <label class="item item-input">
          <input type="text" placeholder="&nbsp;/&nbsp;/" ng-click="datepicker()" name="dob" ng-model="newUser.dob" required>
        </label>
        <span style="color: red; padding-left: 30%" ng-show="signupForm1.firstname.$touched && signupForm2.firstname.$error.required">Date of Birth is required</span>
        <button class="button button-full button-assertive" ui-sref="signup3" ng-disabled="!signupForm2.$valid">Next<img src="img/next-wh.png"></button>
      </form>
    </div>
  </ion-content>
</ion-view>