<ion-view>
  <div class="bar bar-header">
    <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
  </div>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        
        <div class="student-info">
            <h1>Create your password</h1>
        </div>
        <div class="list login">
            <form name="signupForm4" role="form" novalidate>
              <p class="lable-form-p">Your Password</p>
              <label class="item item-input">
                <input type="{{passwordType}}" placeholder="Your Password" name="password" ng-model="newUser.password" required>
                
              </label>
              <a class="redcolor show-pass" ng-click="showPassword(passwordType)">Show</a>
              <span style="color: red; padding-left: 30%" ng-show="signupForm.password.$touched && signupForm.password.$error.required">Password is required</span>
              <button class="button button-full button-assertive" ui-sref="signup5" ng-disabled="!signupForm4.$valid">Next <img src="img/next-wh.png"></button>
        </div>
        </form>
    </ion-content>
</ion-view>
