<ion-view>
	<div class="bar bar-header">
		<div class="row responsive-sm">
			<div class="col first">
				<a class="home-link" href=""> </a> <span><a href=""></a></span>
			</div>
			<div class="header-shadow"></div>
		</div>
	</div>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="student-info">
			<h1>Create An Account</h1>
		</div>
		<form name="signupForm" role="form" novalidate>
			<div class="list login">
				<label class="item item-input">
					<input type="text" placeholder="First Name" name="firstname" ng-model="newUser.firstname" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="signupForm.firstname.$touched && signupForm.firstname.$error.required">First name is required</span>
				<label class="item item-input">
					<input type="text" placeholder="Last Name" name="lastname" ng-model="newUser.lastname" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="signupForm.lastname.$touched && signupForm.lastname.$error.required">Last name is required</span>
				<label class="item item-input" ng-click="datepicker()">
					<input type="text" placeholder="Date Of Birth" name="dob" ng-model="newUser.dob">
				</label>
				<label class="item item-input">
					<input type="email" placeholder="Enter Your Email Address" name="email" ng-model="newUser.email">
				</label>
				<span style="color: red; padding-left: 30%" ng-show="signupForm.email.$touched && signupForm.email.$error.required">Email is required</span>
				<span style="color: red; padding-left: 30%" ng-show="signupForm.email.$touched && signupForm.email.$error.email && signupForm.email.$error.pattern">Invalid Email</span>
				<label class="item item-input">
					<input type="password" placeholder="Your Password" name="password" ng-model="newUser.password" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="signupForm.password.$touched && signupForm.password.$error.required">Password is required</span>
				<label class="item item-input">
					<input type="number" placeholder="Enter Mobile Number" name="mobile" ng-model="newUser.mobile" required>
				</label>
				<span style="color: red; padding-left: 30%" ng-show="signupForm.mobile.$touched && signupForm.mobile.$error.required">Phone number is required</span>
				<button class="button button-full button-assertive" ng-click="signup()" ng-disabled="!signupForm.$valid">Create Account</button>
				<a ui-sref="login" class="CreateAccount">Already Have An Account</a>
			</div>
		</form>
	</ion-content>
</ion-view>
