<ion-view>
  <div class="bar bar-header">
    <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
  </div>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="student-info">
            <h1>Enter your phone number</h1>
            <p>This is so your tutor can contact you and maitutor know how to reach you</p>
        </div>
        <div class="list login">
            <form name="signupForm5" role="form" novalidate>
              <p class="lable-form-p">Your Phone Number</p>
              <label class="item item-input">
                <input class="mobile-input" type="number" placeholder="Enter Mobile Number" name="mobile" ng-model="newUser.mobile" required>
                <img src="img/60.png" height="25px" style="float: left; position: absolute;">
              </label>
              <span style="color: red; padding-left: 30%" ng-show="signupForm.mobile.$touched && signupForm.mobile.$error.required">Phone number is required</span>
              <button class="button button-full button-assertive" ng-click="signup6()"  ng-disabled="!signupForm5.$valid">Next <img src="img/next-wh.png"></button>
        </div>
    </ion-content>
</ion-view>
