<ion-view>
  <div class="bar bar-header">
    <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
  </div>
  <ion-content class="scroll scroll-content ionic-scroll has-header">
      <div class="student-info">
          <h1>What's your name?</h1>
      </div>
      <div class="list login">
          <form name="signupForm1" role="form" novalidate>
            <p class="lable-form-p">First Name</p>
            <label class="item item-input">
              <input type="text" placeholder="" name="firstname" ng-model="newUser.firstname" required>
            </label>
            <span style="color: red; padding-left: 30%" ng-show="signupForm1.firstname.$touched && signupForm1.firstname.$error.required">First name is required</span>
            <p class="lable-form-p">Last Name</p>
            <label class="item item-input">
              <input type="text" placeholder="" name="lastname" ng-model="newUser.lastname" required>
            </label>
            <span style="color: red; padding-left: 30%" ng-show="signupForm1.lastname.$touched && signupForm1.lastname.$error.required">Last name is required</span>
            <button class="button button-full button-assertive" ui-sref="signup2" ng-disabled="!signupForm1.$valid">Next <img src="img/next-wh.png"></button>
          </form>
          
      </div>
  </ion-content>
</ion-view>