<ion-view> 
  <div class="bar bar-header">
    <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
  </div> 
  <ion-content class="scroll scroll-content ionic-scroll has-header">
      <div class="student-info">
          <h1>Enter your email</h1>
      </div>
      <div class="list login">
        <form name="signupForm3" role="form" novalidate>
          <p class="lable-form-p">Email Address</p>
          <label class="item item-input">
            <input type="email" placeholder="Enter Your Email Address" name="email" ng-model="newUser.email">
          </label>
          <span style="color: red; padding-left: 30%" ng-show="signupForm.email.$touched && signupForm.email.$error.required">Email is required</span>
          <span style="color: red; padding-left: 30%" ng-show="signupForm.email.$touched && signupForm.email.$error.email && signupForm.email.$error.pattern">Invalid Email</span>
          <button class="button button-full button-assertive" ui-sref="signup4" ng-disabled="!signupForm3.$valid">Next <img src="img/next-wh.png"></button>
        </form>
      </div>
  </ion-content>
</ion-view>