<ion-view>
  <div class="bar bar-header">
    <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
  </div>
    <ion-content class="scroll scroll-content ionic-scroll has-header">
        <div class="student-info">
            <h1>Verify your phone number</h1>
            <p>We just send a fout digit code to {{newUser.mobile}}. Enter the code in that message</p>
        </div>
        <div class="list login">
            <form name="signupForm5" role="form" novalidate>
              <p class="lable-form-p">Your Confirmation Code</p>
              <label class="item item-input">
                <input class="mobile-input" type="number" placeholder="Enter Mobile Number" name="mobile" ng-model="newUser.mobilecode" required>
              </label>
              <span style="color: red;" class="phn-req" ui-sref="signup5">Change my number</span>
              <span style="color: red;" class="phn-req" ng-click="signup6()">Send code again</span>
              <button class="button button-full button-assertive" ng-click="signup()" ng-disabled="!signupForm5.$valid">Next <img src="img/next-wh.png"></button>
        </div>
    </ion-content>
</ion-view>