<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header splash">
		<div class="splash-img">
			<div class="tagline">
				<div class="logo">
					<h1>Welcome to</h1>
					<img src="img/welcome.png">
					<!-- <p>App for parent</p> -->
				</div>
				<div class="butn-splash">
					<a ui-sref="signup1" class="login-splash">
						Create Account
					</a>
					<a ui-sref="login" class="create-btn-sp">
						Login
					</a>
				</div>
				
			</div>
		</div>
	</ion-content>
		<div class="bar bar-footer">
				<div class="splash-cont">
					<p>By singing up, you agree to our MaiTutor <a ui-sref="links" href="#/links">Terms of service</a>, <a ui-sref="links" href="#/links">payment terms of services</a>  and <a ui-sref="links" href="#/links">privacy policy</a></p>
				</div>
		</div>
</ion-view>
