<ion-view>
	<ion-side-menus enable-menu-with-back-views="false" class="left-menu">
		<ion-side-menu-content>
			<ion-nav-bar class="bar-stable">
				<ion-nav-back-button>
				</ion-nav-back-button>
				<ion-nav-buttons side="left">
					<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
						<img src="img/toggle.png">
					</button>
				</ion-nav-buttons>
			</ion-nav-bar>
		</ion-side-menu-content>
		<ion-side-menu side="left" class="small-menu">
			 <div class="sign-img" >
				<img> <span><a ui-sref="signuplogin">Sign up/Log in</a></span>
			</div> 
			<ion-content class="menu-side-list">
				<ion-item-group>
					<ion-item menu-toggle>
						<a ui-sref="findTutor1"><img src="img/1.png" height="23px">Find Tutor</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="faq"><img src="img/7.png"> FAQ</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="setting1"><img src="img/8.png"> Setting</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="inviteFrnd"><img src="img/9.png"> Invite Friends</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a href=""><img src="img/15.png"> Give Us Feedback</a>
					</ion-item>
				</ion-item-group>
			</ion-content>
		</ion-side-menu>
	</ion-side-menus>
	<div class="bar bar-header">
		<div class="row responsive-sm">
			<div class="header-shadow"></div>
		</div>
	</div>
	<!--ion-header-bar-->
	<!-- <div ui-view></div> -->
	<ion-nav-view></ion-nav-view>
</ion-view>
