<ion-view>
	<ion-side-menus enable-menu-with-back-views="false" class="left-menu">
		<ion-side-menu-content>
			<ion-nav-bar class="bar-stable">
				<ion-nav-back-button>
				</ion-nav-back-button>
				<ion-nav-buttons side="left">
					<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
						<img src="img/toggleBlack.png">
					</button>
				</ion-nav-buttons>
			</ion-nav-bar>
			<ion-nav-view name="menuContent"></ion-nav-view>
		</ion-side-menu-content>
		<ion-side-menu side="left">
			<div class="sign-img">
				<img ng-src="{{loggedInUser.user.img}}"> <span>{{loggedInUser.user.firstname}} {{loggedInUser.user.lastname}}</span>
			</div>
			<ion-content class="menu-side-list">
				<ion-item-group>
					<ion-item menu-toggle>
						<a ui-sref="findTutor1"><img src="img/find-gray.png" height="23px"> Find Tutor</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="myTutor"><img src="img/my-tutor.png"> My Tutor</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="chatList"><img src="img/message.png" > Messages</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="schedule"><img src="img/schedule.png" > Schedule</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a href=""><img src="img/record.png" > Report Card</a>
					</ion-item>
					<ion-item menu-toggle>
						<a href=""><img src="img/payment.png" > Payment</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="faq" class="remove-line"><img src="img/faq-gray.png"> FAQ</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="setting"><img src="img/setting-gray.png"> Setting</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="inviteFrnd"><img src="img/gift-gray.png"> Invite Friends</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a href=""><img src="img/nav-gray.png"> Give Us Feedback</a>
					</ion-item>
					<ion-item menu-toggle class="remove-line">
						<a ui-sref="login"><img src="img/nav-gray.png"> Logout
					</ion-item>
				</ion-item-group>
			</ion-content>
		</ion-side-menu>
	</ion-side-menus>
	  <div class="bar bar-header">
	    <div class="row responsive-sm">
	        <div class="col first"> 
	          <a class="home-link" href=""> </a> 
	          <span><a href=""></a></span>
	        </div>
	        <div class="header-shadow"></div>
	    </div>
	</div>
	<!--ion-header-bar-->
	<!-- <div ui-view></div> -->
	<ion-nav-view></ion-nav-view>
</ion-view>

