<ion-view class="bodycolor">
	<div class="bar bar-header white_bg">
        <img class="hd-back" src="img/13.png" class="imgclass" ng-click="$ionicGoBack()">
        <span class="done" ng-click="$ionicGoBack()">Done</span>
    </div>
	<ion-nav-view></ion-nav-view>
</ion-view>

