<ion-view>
	<ion-content>
  		<div class="my-tutor-view">
			   <img src="img/tutor-view-full.png">
			<div class="tutor-name">
				<p>Siti Amira has accepted your tutoring request</p>
			</div>
			<div class="profile-address">
					<p><span>Student</span>
                    	<span>Subject</span>
                    	<span>Grade</span>
                        
                    </p>
					<p><span>Muhd Adham Aizu..</span>
                    	<span>Mathematics</span>
                        <span>Sat, 8-10PM</span>
                        <span>Form 1-3 (PT3)</span>
                    </p>
			</div>
            <div class="step-content">
				<p>Complete 3 steps below to confirm hiring Siti Amira your tutor</p>	
			</div>
            <div class="step-content price-big">
				<h3>RM 520</h3>	
                <span style="color:red" ui-sref="paymentbreakdown">See Price Breakdown</span>
			</div>
			
		</div>
  		<ion-item-group class="tutor-view-list requested-list">
      
        <ion-item><a href="">Coupon Code</a> <span style="float:right;">Add</span></ion-item>
        <ion-item>1. Select Timetable
          <span style="float:right;">
            <a ui-sref="addtimetable" ng-if="!timetableselected">Add</a>
            <a ui-sref="addtimetable" style="color:#F1473A;" ng-if="timetableselected">Added</a>
          </span>
        </ion-item>
  	    <ion-item>2. Message Tutor
          <span style="float:right;">
            <a ui-sref="msgtutor" ng-if="!msgtutorselected && !msgtutorskipped">Add</a>
            <a ui-sref="msgtutor" style="color:#F1473A;" ng-if="msgtutorselected">Added</a>
            <a ui-sref="msgtutor" style="color:#F1473A;" ng-if="msgtutorskipped">Skipped</a>
          </span>
        </ion-item>
  	    <ion-item>3. Payment
          <span style="float:right;">
            <a ui-sref="bookingsummary">Add</a>
          </span>
        </ion-item>
      </ion-item-group>
  </ion-content>
  <div class="bar bar-footer">
    <div class="footer-fix-btn">
      <button class="full-size-btn" ng-if="count.value != 1">you have {{count.value}} steps left</button>
      <button class="full-size-btn" ng-if="count.value == 1" ui-sref="bookingsummary">you have {{count.value}} steps left</button>
      <button class="button button-full button-null" ng-click="ratePerHour()">Cancle Hiring</button>
    </div>
      
  </div>
</ion-view>