<ion-view>
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
  	<ion-content class="scroll scroll-content ionic-scroll has-header">
	
		<div class="student-info">
			<h1>Select timetable</h1>
			<p>
				Pick tutoring season that suit you and your child. This will become your regular schedule.
			</p>
		</div>
		<div class="timetable-day">
			<h3>Day</h3>
			<p class="col-red">Sunday</p>
			<p>Monday</p>
			<p>Saturday</p>
		</div>
		<div class="timetable-day">
			<h3>Time</h3>
			<p>9-10 am</p>
			<p>8-10 pm</p>
		</div>
		<div class="list login">
			<a ng-click="addtimetable()" class="CreateAccount login-red alagse">Add<img src="img/next-wh.png"></a>
		</div>
  	</ion-content>
</ion-view>
<ion-view ng-if="addtimetablevalue">
	<ion-content class="scroll scroll-content ionic-scroll has-header" >
		<div class="studentgender">
			<div class="gender-header">
				Start Tutoring On
			</div>
			<ul>
				<li>
					07 Januari 2007 
					<span class="sector-gender">
						<img src="img/profile-pic.png" class="border-rd" ng-click="ismale(malestudent)" ng-if="malestudent">
						<img src="img/profile-pic.png" ng-click="ismale(malestudent)" ng-if="!malestudent">
					</span>
				</li>
				<li>
					14 Januari 2007
					<span class="sector-gender">
						<img src="img/profile-pic.png" class="border-rd" ng-click="isfemale(femalestudent)" ng-if="femalestudent">
						<img src="img/profile-pic.png" ng-click="isfemale(femalestudent)" ng-if="!femalestudent">
					</span>
				</li>
				<li>
					21 Januari 2007
					<span class="sector-gender">
						<img src="img/profile-pic.png" class="border-rd" ng-click="isfemale(femalestudent)" ng-if="femalestudent">
						<img src="img/profile-pic.png" ng-click="isfemale(femalestudent)" ng-if="!femalestudent">
					</span>
				</li>
				<li>
					<button class="popupbutton" ng-click="sessionDate()">Cancel</button>
					<button class="popupbutton" ng-click="sessionDateOk()">Ok</button>
				</li>	
			</ul>
		</div>
	</ion-content>
</ion-view>