<ion-view>
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
  	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="student-info">
			<h1>Online Banking</h1>
			<p>
				Select your online bank.
			</p>
		</div>
		<div class="timetable-day">
			<!-- <p ng-repeat="bank in banklist track by $index" ng-class="classcolor" ng-click="selectedBank(index)">{{bank}}</p> -->
			<p ng-class="clscolor1" ng-click="selectbank(1)">Maybank2u</p>
			<p ng-class="clscolor2" ng-click="selectbank(2)">CIMB Click</p>
			<p ng-class="clscolor3" ng-click="selectbank(3)">RHB Online</p>
			<p ng-class="clscolor4" ng-click="selectbank(4)">AmOnline</p>
			<p ng-class="clscolor5" ng-click="selectbank(5)">Hong Leong Bank Online</p>
			<p ng-class="clscolor6" ng-click="selectbank(6)">Public Bank</p>
			<p ng-class="clscolor7" ng-click="selectbank(7)">Bank Islam</p>
			<p ng-class="clscolor8" ng-click="selectbank(8)">Affin Bank</p>
		</div>
		<div class="list login">
			<a ng-if="isSelected" ng-click="" class="CreateAccount login-red alagse">Pay Now<img src="img/next-wh.png"></a>
		</div>
  	</ion-content>
</ion-view>
