<ion-view>
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
	  <ion-content class="scroll scroll-content ionic-scroll has-header">
  		<div class="student-info">
			<h1>Booking Summary</h1>
			
		</div>
  		<div class="my-tutor-view">
			
			<div class="address-prof">
				<div class="profile-address">
					<p>Student Tutoring Address</p>
					<p>Muhd Adham Aizu.. F-567, Apartment seri intan, Jalan Ami.. Kajang, Selangor</p>
				</div>
				<div class="profile-address">
					<p><span>Subject</span>
                    	<span>Grade</span>
                        <span>Schedule</span>
                        <span>Start tutoring on</span>
                    </p>
					<p><span>Mathematic</span>
                    	<span>Form 1-3 (PT3)</span>
                        <span>Sat, 8-10PM</span>
                        <span>7 Jan 2017</span>
                    	
                    </p>
				</div>
			</div>
			<div class="book-session">
				<div class="booking-heading">
					 <p></p>
					 <span class="right-profile-pic"><img src="img/color-pic.png"></span>
				 </div>
			</div>
            <div class="profile-address">
					<p><span>Subject</span>
                    	<span>Grade</span>
                        <span>Schedule</span>
                        <span>Start tutoring on</span>
                    </p>
					<p><span>Mathematic</span>
                    	<span>Form 1-3 (PT3)</span>
                        <span>Sat, 8-10PM</span>
                        <span>7 Jan 2017</span>
                    	
                    </p>
			</div>
            <div class="profile-address">
					<p><span><b>Total</b></span>
                    </p>
					<p><span><b>RM 520.00</b></span>
                    </p>
			</div>
			<div class="good-fit">
            	<p>Your first hour with any tutor is protected by our <span style="color:#f1473a">GOOD FIT GUARANTEE</span></p>
            </div>
		</div>
  	</ion-content>
  	<div class="bar bar-footer">
    <div class="footer-fix-btn">
      <button class="full-size-btn" ui-sref="banklist">Proceed to Payment</button>
    </div>
      
  </div>
</ion-view>