<ion-view>
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
  	<ion-content class="scroll scroll-content ionic-scroll has-header">
	
		<div class="student-info">
			<h1>Say hello to your tutor</h1>
			<p>
				Tell Siti Amira what do you plan to accomplish with tutoring.
			</p>
		</div>
		<div class="chatter" style="padding:15px">
			<div class="reciever" style="width:100%; float:left; margin-bottom:15px;">
				<img src="img/color-pic.png" style="float:right; margin-left:2%; width:6%;" ng-if="chat.from_email != loggedInUser.user.email">
				<p class="sender-content" style="background:#dbdbdb; color:#000; padding:10px; font-size:14px; border-radius:5px; float:left; width:92%; position:relative;">
					Hello! I look forward to meeting with you and and Tutoring your child. 
					<img src="img/icon33.jpg" style="position:absolute; bottom:0; right:-11px;">
				</p>
			</div>
		</div>
		<div class="list login float_rigth">
			
			<a ui-sref="writemsg" class="CreateAccount login-red alagse">Add<img src="img/next-wh.png"></a>
			<a class="skip_btn" ng-click="skipwritemsg()">Skip</a>
		</div>

  	</ion-content>
</ion-view>
