<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header" ng-init="myTutor()">
        <div class="student-info">
            <h1>My Tutor</h1>
            <h3 ng-if="tutors.length">Tap tutor to view details</h3>
            <h3 ng-if="!tutors.length">No tutor yet</h3>
        </div>
        <ion-item-group class="tutor-list" ng-if="tutors.length">
            <ion-item ui-sref="myTutorDetail" ng-repeat="tutor in tutors" ng-click="getMyTutorDetail(tutor)">
                <div class="tutor-thumbnail">
                    <div class="thum-img">
                        <a> <img src="img/thumb1.png"> </a>
                    </div>
                    <div class="tutor-cont">
                        <h3>
                        	{{tutor.tutor.firstname}} {{tutor.tutor.lastname}}
                        	<img src="img/lady-icon.png">
                    	</h3>
                        <p>
                        	{{tutor.request_data.subject}} {{tutor.request_data.grade}} 
                    	</p>
                        <p>
                        	Student | {{tutor.request_data.student_name}}
                        </p>
                        <p style="color: green;" ng-if="tutor.status == 'Hired'">
                        	{{tutor.status}}
                        <p style="color: red;" ng-if="tutor.status == 'Pending Payment'">
                        	{{tutor.status}}
                        </p>
                        <p style="color: red;" ng-if="tutor.status == 'Awaiting Confirmation'">
                            {{tutor.status}}
                        </p>
                    </div>
                </div>
            </ion-item>
        </ion-item-group>
    </ion-content>
</ion-view>
