<ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
  		<div class="my-tutor-view">
			<img src="img/hired-pro.png">
			<p class="view-pro" style="color: green" ng-if="selectedMyTutor.status == 'Hired'">{{selectedMyTutor.status}}</p>
			<p class="view-pro" style="color: red" ng-if="selectedMyTutor.status == 'Pending Payment' || selectedMyTutor.status == 'Awaiting Confirmation'">{{selectedMyTutor.status}}</p>

			<div class="tutor-name">
				<p>Hi, I m {{selectedMyTutor.tutor.firstname}} {{selectedMyTutor.tutor.lastname}} <img src="img/lady-icon.png"></p>
			</div>
			<div class="address-prof">
				<div class="profile-address">
					<p>Student</p>
					<p>{{selectedMyTutor.request_data.student_name}}</p> 
					<p>Tutoring Address</p>
					<p>{{selectedMyTutor.request_data.address1}}</p>
				</div>
				<div class="profile-address">
					<p>Subject Grade</p>
					<p>{{selectedMyTutor.request_data.subject}} {{selectedMyTutor.request_data.grade}}</p>
				</div>
			</div>
			<div class="book-session">
				<div class="booking-heading">
					 <p>Remaining Session</p>
					 <span>0/5</span>
				 </div>
				<div class="session-day grey-hire">
					<span>
						Date
					</span>
					<div class="fisrt-day">
						<a href="">Day</a>
					</div>
					<span>
						Time
					</span>
				</div>
				<div class="session-day grey-hire">
					<span>
						Date
					</span>
					<div class="other-day">
						<a href="">Day</a>
					</div>
					<span>
						Time
					</span>
				</div>
				<div class="session-day grey-hire">
					<span>
						Date
					</span>
					<div class="other-day">
						<a href="">Day</a>
					</div>
					<span>
						Time
					</span>
				</div>
				<div class="session-day grey-hire">
					<span>
						Date
					</span>
					<div class="other-day">
						<a href="">Day</a>
					</div>
					<span>
						Time
					</span>
				</div>
				<div class="session-day grey-hire">
					<span>
						Date
					</span>
					<div class="other-day">
						<a href="">Day</a>
					</div>
					<span>
						Time
					</span>
				</div>
			</div>
			<!-- <button class="full-size-btn"  ng-click="()"></button> -->
		</div>
  	</ion-content>
  	  	<div class="bar bar-footer">
	    	<div class="footer-menu">
	        	<div class="call-btn" ng-show="selectedMyTutor.status != 'Pending Payment'">
	            	<img src="img/28.png" height="35px">
	                <span>Call</span>
	            </div>
	            <div class="call-btn" ng-show="selectedMyTutor.status != 'Pending Payment'">
	            	<img src="img/21.png" height="35px">
	                <span>Message</span>
	            </div>
	            <div class="call-btn" ng-show="selectedMyTutor.status != 'Pending Payment'" ui-sref="reviewpage">
	            	<img src="img/27.png" height="35px">
	                <span>Review</span>
	            </div>
	            <div class="call-btn" ng-show="selectedMyTutor.status != 'Pending Payment'">
	            	<img src="img/2.png" height="35px">
	                <span>Profile</span>
	            </div>
	            <div class="call-btn right-side" ng-show="selectedMyTutor.status == 'Pending Payment'">
	            	<img src="img/2.png" height="35px">
	                <span>Profile</span>
	            </div>
	        </div>
  		</div>
  	<div class="bar bar-footer" ng-if="selectedMyTutor.status == 'Pending Payment'">
		<div class="footer-fix-btn">
          	<button class="full-size-btn"  ng-click="makePay()">Proceed To Payment</button>
			
          </div>
   		
	</div>
</ion-view>