<ion-view>
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
  	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="student-info">
			<h1>Payment Breakdown</h1>
			<p>
				Mathematics From 1-3 (PT3)<br/>
				RM50/hours
			</p>
		</div>
		<ion-item-group class="tutor-view-list">
      		<ion-item><a href="">Hours Per Session</a> <span style="float: right; color: red">1</span></ion-item>
      		<ion-item><a href="">Number Of Session</a>  <span style="float: right; color: red">1</span></ion-item>
	     	<ion-item><a href="">Number Of Student</a>  <span style="float: right; color: red">1</span></ion-item>
	     	<ion-item><a href="">RM50 x 1 hour x 4 session x 1 Student</a></ion-item>
	     	<ion-item><a href="">Service fee</a>  <span style="float: right; color: red">RM 20</span></ion-item>
	     	<ion-item class="noborder"><p class="price">RM 220.00</p>
		    	<!-- <p>You dont have to pay until this tutor had accept your lesson request.</p> -->
	     	</ion-item>
    	</ion-item-group>
  	</ion-content>
</ion-view>