<!-- <ion-view>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="about-content new-content">
			<div class="about-info rating-img">
				<h1>Reviews</h1>
				<p class="small">
					<img ng-repeat="i in getNumber(selectedTutorsProfile.review_rating) track by $index" class="hd-icon" src="img/18b.png">
					<img ng-repeat="i in getNumber(5-selectedTutorsProfile.review_rating) track by $index" class="hd-icon" src="img/18a.png">
					<span>{{selectedTutorsProfile.review_count}} Reviews</span>
				</p>
			</div>
			<div class="review-listing">
				<div class="review-listing-left">
					<p>Knowledge</p>
					<p>Puntuality</p>
					<p>Attitude</p>
					<p>Communication</p>
					<p>Value for money</p>
				</div>
				<div class="review-listing-right">
					<p><img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18a.png">
					   <img class="hd-icon" src="img/18a.png">
					</p>
					<p><img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18a.png">
					   <img class="hd-icon" src="img/18a.png">
					   <img class="hd-icon" src="img/18a.png">
					</p>
					<p><img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18a.png">
					</p>
					<p><img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18b.png">
					</p>
					<p><img class="hd-icon" src="img/18b.png">
					   <img class="hd-icon" src="img/18a.png">
					   <img class="hd-icon" src="img/18a.png">
					   <img class="hd-icon" src="img/18a.png">
					   <img class="hd-icon" src="img/18a.png">
					</p>
				</div>
			</div>
			<ion-item-group class="tutor-list small-tutor-list">
				<ion-item class="item">
					<div class="tutor-thumbnail">
						<div class="thum-img">
							<a href="my-tutor-view.html"> <img src="img/thumb1.png"> </a>
						</div>
						<div class="tutor-cont">
							<h3>Siti Amirah </h3>
							<p class="small-list-date">March 2016</p>
						</div>
						<div class="small-tutor-list-content">
							<p>Aita Amirah has been great. She has clear plan for our son, and pushes him further each week. This week even discussing "reach" school to push, he's taking ownership for his roll in college placement.</p>
							
						</div>
					</div>
				</ion-item>
				<ion-item class="item">
					<div class="tutor-thumbnail">
						<div class="thum-img">
							<a href="my-tutor-view.html"> <img src="img/thumb1.png"> </a>
						</div>
						<div class="tutor-cont">
							<h3>Siti Amirah </h3>
							<p class="small-list-date">March 2016</p>
						</div>
						<div class="small-tutor-list-content">
							<p>Aita Amirah has been great. She has clear plan for our son, and pushes him further each week. This week even discussing "reach" school to push, he's taking ownership for his roll in college placement.</p>
							
						</div>
					</div>
				</ion-item>
			</ion-item-group>
		</div>
	</ion-content>
</ion-view> -->

<ion-view>
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
	<ion-content class="scroll scroll-content ionic-scroll has-header">
	    <div class="student-info">
	        <h1>Leave a review</h1>
	        <p>
	            Please take a moment and leave a review for {{selectedMyTutor.tutor.firstname}}. Your review will be public on {{selectedMyTutor.tutor.firstname}}'s profile
	        </p>
	    </div>
	    <!-- <ion-item-group class="tutor-list">
	        <ion-item>
	             <div class="tutor-thumbnail">
	                <div class="tutor-cont">
	                    <h3>Communication</h3>
	                </div>
	            </div> 
	            <div class="review-listing">
	                <div class="review-listing-left">
	                    <p><img class="hd-icon" src="img/18b.png">
	                        <img class="hd-icon" src="img/18b.png">
	                        <img class="hd-icon" src="img/18b.png">
	                        <img class="hd-icon" src="img/18a.png">
	                        <img class="hd-icon" src="img/18a.png">
	                    </p>
	                </div>
	            </div> 
	        </ion-item>
	    </ion-item-group> -->
	</ion-content>
	<div class="bar bar-footer">
		<div class="footer-fix-btn">
          	<button class="button button-full button-assertive new-size" ui-sref="reviewcomment">Next<img src="img/next-wh.png"></button>
        </div>
	</div>
</ion-view>