<ion-view>
	<div class="bar bar-header">
        <img src="img/cross.png" class="imgclass" ng-click="$ionicGoBack()">
    </div>
  	<ion-content class="scroll scroll-content ionic-scroll has-header" style="top:68px;">
	
		<textarea class="textarea_cls"></textarea>
		<div class="list login">
			<a ng-click="toacceptpage()" class="CreateAccount login-red alagse">Add<img src="img/next-wh.png"></a>
		</div>	
  	</ion-content>
</ion-view>