<ion-view>
    <ion-content class="scroll scroll-content ionic-scroll has-header" ng-init="getChatList()">
        <ion-item-group class="tutor-list">
            <ion-item ng-repeat="chat in chatlist" ng-click="getChatDetail(chat.request_from, chat.request_to)" class="fromtop">
                <div class="tutor-thumbnail">
                    <div class="thum-img">
                        <a> <img src="img/thumb1.png"> </a>
                    </div>
                    <div class="tutor-cont">
                        <h3>{{chat.firstname}}</h3>
                        <p>Mathematic Form 1-3 (PT3) Student Muhammaf Fahril Adam, 15</p>
                        <p>
                        </p>
                    </div>
                </div>
            </ion-item>
        </ion-item-group>
    </ion-content>
</ion-view>
