<ion-view class="topshift">

	<ion-content class="scroll scroll-content ionic-scroll has-header">
		<div class="chatter" style="padding:15px">
			<div class="reciever" style="width:100%; float:left; margin-bottom:15px;" ng-repeat="chat in chats track by $index">
				<img ng-src="{{loggedInUser.user.img}}" style="float:left; margin-right:2%; width:6%;" ng-if="chat.from_email == loggedInUser.user.email">
				<img ng-src="{{fromimg}}" style="float:left; margin-left:2%; width:6%;" ng-if="chat.from_email != loggedInUser.user.email">
				<p class="sender-content" style="background:#dbdbdb; padding:10px; font-size:14px; border-radius:5px; float:left; width:92%; position:relative;" ng-if="chat.from_email == loggedInUser.user.email">
					{{chat.message}}
					<img src="img/iocn11.png" style="position: absolute; left: -7px; bottom: 0;">
				</p>
				<p class="sender-content" style="background:#ef473c; color:#fff; padding:10px; font-size:14px; border-radius:5px; float:left; width:92%; position:relative;" ng-if="chat.from_email != loggedInUser.user.email">
					{{chat.message}}
					<img src="img/icon22.png" style="position: absolute; bottom: 0; right: -7px;">
				</p>
			</div>
			
			<!-- <div class="reciever" style="width:100%; float:left; margin-bottom:15px;" ng-repeat="chat in chats" >
				
				
				
			</div> -->
		</div>
	</ion-content>
		<div class="bar bar-footer">
			<div class="send_msg">
		   		<input type="text" ng-model="msg.value">
		   		<button ng-click="send()">send</button>
			</div>
		</div>
</ion-view>
