/*@font-face {
  font-family: 'calibrib';
  src: url('../fonts/calibrib.ttf');
}*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400 !important;
    font-family: calibri !important;
    font-size: 13px;
    color: #484848;
}

html,
body {
    height: 100%;
}

input,
button,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lato', sans-serif;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    color: #787878;
    font-size: 16px;
}

a {
    color: #333;
    text-decoration: none;
}

p img {
    vertical-align: middle;
    max-width: 100%;
}

.ionic .has-header {
    top: 44px;
}


/* ============================= header */

.splash-img {
    position: relative;
    text-align: center;
}

.Domestic {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
    text-align: center;
    height: 216px;
}

.DomesticText {
    width: 216px;
    background: #e91e63;
    border: #fff solid 5px;
    height: 216px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto;
}

.Domestic h1 {
    display: inline-block;
    font-size: 37px;
    text-align: center;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.Domestic h1 span {
    display: block;
}

.d-t {
    display: table;
    width: 100%;
    height: 100%;
}

.d-t-c {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}

.bar-header {
    background: transparent;
    height: 52px;
    padding: 5px 12px;
    border: none;
}
.bar-header.redheader{
    background: #F1473A;
    height: 52px;
    padding: 5px 12px;
    border: none;

}


/*.bar.bar-header:after {background: url(../images/shadow.png) no-repeat center bottom; height: 31px; content:""; position:absolute; left:0; bottom:0;}*/

.bar-header .row.responsive-sm {
    padding: 0;
}

.col.first {
    padding: 7px 0 0 0;
}

.bar-header .home-link {
    color: #fff;
    font-size: 24px;
}

.bar-header span {
    display: inline-block;
    margin: 0 0 0 9px;
    padding: 3px 0 0 7px;
}

.bar-header span a {
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    left: 42px;
}

.clear {
    clear: both;
}

.bar-header .backBtn {
    text-align: right;
    float: right;
    padding: 2px 0 0;
}

.bar-header .backBtn button,
.bar-header a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background: none;
    border: none;
}


/*.has-header {
	top: 51px;
	bottom: 43px;
	z-index: 99;
	margin: 0;
}*/

.box.blue > img {
    width: 100%;
}

.home-slider {
    margin: -31px 0 0 0;
}

body.menu-open .left-menu {
    z-index: 100 !important;
}

body.menu-open .view {
    z-index: 21;
}

.left-menu .left-buttons {
    display: inline-block;
}

.main {
    padding: 0 12px 15px 12px;
}

.bar-header .col-50 {
    padding-left: 0;
    padding-right: 0;
}


/*.bar-header .col-50.first { width: 75%; flex: 0 0 75%; max-width: 75%; }
.bar-header .col-50.backBtn { width: 25%; flex: 0 0 25%; max-width: 25%; }*/

.bar-header .col-50.backBtn a {
    float: right;
}


/*login*/

.login {
    color: #787878;
    font-size: 19px;
}

.login .item-input {
    border: #ebebeb solid 1px;
    -webkit-border-radius: 3px;
    margin: 0 0 17px 0;
    border-radius: 3px;
}

.list.login:last-child {
    margin-bottom: 5px;
}

.ForgotText .row,
.ForgotText .col-50 {
    padding-left: 0;
    padding-right: 0;
}

.ForgotText .row,
.ForgotText .col-50 {
    padding-top: 0;
    padding-bottom: 0;
}

.ForgotText .item.item-checkbox {
    border: none;
}

.ForgotText .item.item-checkbox .checkbox {
    padding-left: 0;
}

.ForgotText .item-checkbox {
    padding-left: 35px;
    color: #616161;
    font-size: 16px;
}

.ForgotText .checkbox input,
.ForgotText .checkbox-icon {
    width: 29px;
    height: 29px;
}

.ForgotText .checkbox input:checked:before,
.ForgotText .checkbox input:checked + .ForgotText .checkbox-icon:before {
    background: #fff;
    border-color: #ebebeb;
}

.ForgotText input:before,
.ForgotText .checkbox .checkbox-icon:before {
    border-color: #ebebeb;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ForgotText .item-checkbox .checkbox {
    left: 0;
}

.Forgot-password {
    padding: 12px 0 35px 0;
}

.Forgot-password a {
    color: #484848;
    font-size: 16px;
    text-decoration: none;
}

.Forgot-password {
    text-align: right;
}

.login .button-assertive,
.login .CreateAccount {
    height: 68px;
    margin-bottom: 14px;
    color: #fff;
    font-size: 21px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
}

.login .button-assertive {
    background: #F1473A none repeat scroll 0 0 !important;
    margin-top: 30px;
}

.login .button-assertive.activated {
    background: #ca1653;
}

.login .CreateAccount {
    background: #6a6a6a none repeat scroll 0 0 !important;
    display: block;
    line-height: 68px;
    text-align: center;
    text-decoration: none;
}

.login .button-positive.activated {
    background: #a60c41;
}

.login .CreateAccount:hover {
    background: #ca1754;
}


/*Registration */

.Login-Now {
    padding: 5px 0 10px 0;
}

.Login-Now a {
    text-decoration: none;
}

.Login-Now a:hover {
    color: #000;
    text-decoration: none;
}

a:focus {
    outline: 0;
    color: #000;
}

.GetRegister .button-assertive {
    margin: 43px 0 0 0;
}


/*forgot-password-main*/

.forgot-password-main p {
    text-align: center;
    padding-bottom: 30px;
}

.forgot-password-main .forgot-password-input {
    margin: 0 0 30px 0;
    position: relative;
}

.forgot-password-main .forgot-password-input input[type="text"] {
    padding-left: 30px;
}

.forgot-password-main .forgot-password-input:after {
    content: "\f0e0";
    position: absolute;
    left: 18px;
    top: 14px;
    font-family: 'FontAwesome';
}


/*Edit Profile*/

.edit-profile-main.has-header {
    top: 57px;
}

.edit-Text h2 img {
    display: inline-block;
    padding-right: 5px;
}

.EditProfile {}


/* menu*/

.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background: #000;
    z-index: 66;
}

.left-menu ul li {
    margin: 17px 15px;
    display: block;
}

.left-menu ul li a {
    display: block;
}

.left-menu .item-complex .item-content,
.left-menu .item-radio .item-content {
    background-color: inherit;
    padding: 0;
}


/*.bar-stable .button.button-icon {
	color: #e91e63;
	left: -3px;
}*/

.bar-stable .button.button-icon {
    border-color: transparent;
    background: none;
}

.home-head.bar-header span a {
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    padding-left: 9px;
    position: relative;
    top: -2px;
}

.left-menu [nav-bar-transition="ios"] [nav-bar="active"] .bar,
.left-menu [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: none;
}

.left-menu .bar.bar-stable {
    background-color: inherit;
    background-image: inherit;
}

.left-menu .item {
    background-color: inherit;
}

.left-menu a {
    color: #A9A9A9;
}

.pane,
.view {
    background-color: inherit;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    /*z-index: 0;*/
    overflow: hidden;
    min-height: 100%;
    max-height: 100%;
    width: 62% !important;
    background-color: #fff;
}
.small-menu{
 
    min-height: 60%;
    max-height: 60%;
   
}

.menu-left {
    left: -289px;
}

body.menu-open .menu-left {
    left: 0;
    /*width: 80% !important;*/
    padding: 15px;
}


/*body.menu-open .list { margin-top: -18px; }*/

.menu-content {
    box-shadow: inherit !important;
    border: none;
}

.menu-left .item {
    color: #199dd4;
    border: none;
    padding: 8px 16px 8px 16px;
    border-bottom: #474747 solid 1px;
}

.menu-left .menu-content {
    -webkit-transform: none;
    transform: none;
    box-shadow: inherit;
}

.menu-left .bar.bar-stable .title {
    color: #199dd4;
    text-align: right;
    font-size: 21px;
    padding-right: 20px;
    border-bottom: solid 1px #474747;
}

.home-head .bar-header span a {
    margin: 0 0 0 10px;
}

.home-head .bar-header span {
    padding: 2px 4px 0 0;
    border-left: #f48fb1 solid 1px;
}

.home-head .bar-header span {
    margin: 0 0 0 28px;
}

.left-menu .ion-navicon {
    left: -12px;
}

.bar .buttons-left span {
    border: none;
}

.home-head.bar-header span {
    position: relative;
    left: 30px;
}

.left-menu .nav-bar-block {
    width: 72px;
}

.home-container .has-header {
    top: 60px;
    z-index: 20;
}

.left-menu.view {
    border: none;
    width: 64px !important;
}

.left-menu.view,
.view-container {
    border: none;
    box-shadow: none;
}
.topshift{
    border: none;
    box-shadow: none;
    top: 45px;
}
.menu-open .left-menu.view {
    width: 100% !important;
}

.bar .buttons-left span {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.left-menu .has-header {
    top: 63px;
}

.left-menu .buttons-left span {
    width: 40px;
    height: 40px;
}

.left-menu .buttons-left span {
    margin-right: 0;
}

.left-menu .buttons-left span .ion-navicon::before {
    color: #199dd4;
}

.menu-open .scroll {
    transform: none !important;
}


/*.left-menu .bar-header span {
	border: 0;
}*/

.bar .buttons-left span {
    margin-right: 5px;
    display: inherit;
}

body.keyboard-open .bar-header {
    position: relative;
    z-index: 99;
}

body.keyboard-open .left-menu {
    z-index: 100;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: source sans pro;
    font-size: 13px;
}

img {
    max-width: 100%;
}

.bar.bar-header.bar-light {
    padding: 0;
    height: 50px;
    border: 0;
    background: none;
}

.header_section {
    width: 100%;
    text-align: center;
}

.header_section p {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    color: #199dd4;
    text-transform: uppercase;
}

.middle_section {
    padding: 30px;
}

.middle_section h1 {
    color: #199dd4;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    font-family: source sans pro;
    text-align: center;
}

.middle_section p {
    color: #333333;
    text-shadow: 1px 0 #ffffff;
    font-size: 13px;
    text-align: center;
}

.top_shadow {
    bottom: 3px;
    position: relative;
    z-index: 21;
}

.login_form button {
    background: #199dd4 !important;
    border: 0 none !important;
    margin-top: 15px;
    padding: 0px 30px;
    width: 150px;
    text-align: center;
}

.login_form {
    padding: 0 30px 30px;
    text-align: center;
}

.login_form .item.item-input {
    margin-bottom: 20px;
}

.logo.text-center {
    padding: 50px 30px;
}

.login_form .item.item-input {
    margin: 0 0 20px;
}

.login_form .back {
    background: #444444 !important;
}

.strip.text-center {
    padding: 30px;
}

.strip.text-center > p {
    color: #199dd4;
    font-size: 24px;
    font-weight: 400;
}

.login_form {
    border-bottom: 1px solid #eeeeee;
}

.list.login {
    margin-top: 30px;
}

.news_latter {
    padding: 20px;
}

.news_latter input {
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
    width: 65%;
}

.news_latter a {
    background: #199dd4 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    float: right;
    padding: 10px;
    text-align: center;
    width: 30%;
    text-decoration: none;
}

.news_latter {
    float: left;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.content-margin {
    padding: 0 20px;
}

.column-split {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.column-split li {
    display: inline-block;
    float: left;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 0 6px;
    text-align: center;
    width: 50%;
}

.content-margin {
    float: left;
    width: 100%;
    background: #f6f6f6;
}

.center > strong {
    color: #199dd4;
}

.ui-footer {
    background: #F1473A none repeat scroll 0 0;
    border: 0 none;
    color: #efefef;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    text-shadow: none;
    width: 100%;
}

.ui-footer p {
    margin: 15px 0 !important;
    padding: 0 12px;
}

.ui-footer p span {
    float: right;
    margin-top: -6px;
}


/* kj*/

.bread-crumb {
    background: #f0f0f0;
    border-top: #e2e2e2 solid 1px;
    overflow: hidden;
    margin: 0;
    position: relative;
    z-index: 999;
    height: 38px;
}

.bread-crumb li {
    background: url(../images/bc-separator.png) no-repeat right -1px;
    background-size: 19px;
    padding: 8px 21px 8px 8px;
    float: left;
}

.bread-crumb li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

.bread-crumb li a.ion-home {
    color: #696969;
    font-size: 24px;
}

.news-events li h2 {
    background: #f6f6f6;
    border-right: 4px solid #199dd4;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    padding: 2px;
    text-shadow: none;
    margin: 0 0 15px 0;
}

.news-events ul {
    overflow: hidden;
}

.news-events .Read-more a {
    float: right;
}

.news-events .news-events-issue li {
    width: 32%;
    float: left;
    padding: 20px;
    background: #ebebeb;
    margin: 0 10px 15px 10px;
}

.news-events .news-events-issue li a {
    text-decoration: none;
}

.news-events .news-events-issue li a:hover {
    color: #000;
}

.news-events .news-events-issue li h3 {
    font-weight: 700;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #199dd4;
}

.news-events .news-events-issue li p {
    margin: 0;
    padding: 0;
}

.news-events .news-events-issue li .newsCol {
    padding: 0 15px 0 0;
    box-sizing: border-box;
}

.bar-footer {
    height: 44px;
    padding: 0;
}


/*.scroll.scroll-content .scroll { 
	height: 93%; 
}*/

.news-detail h2 {
    background: #f6f6f6;
    border-right: 4px solid #199dd4;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    padding: 2px;
    text-shadow: none;
    margin: 0 0 15px 0;
}

.news-detail ul {
    overflow: hidden;
}

.news-detail ul li {
    float: left;
    width: 50%;
    padding: 0 0;
    box-sizing: border-box;
}

.news-detail ul li p {
    padding: 3px 7px;
    text-align: justify;
}

.reporter {
    position: relative;
    background: url(../images/reporter.gif) no-repeat;
    height: 216px;
    margin: 0 auto 15px auto;
    width: 395px;
}

.reporterText {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.reporterText-t {
    display: table;
    width: 100%;
    height: 100%;
}

.reporterText-t-c {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.reporterText-t-c ul,
.reporterText-t-c ul li {
    margin: 0;
    padding: 0;
}

.reporterText-t-c ul {
    padding: 0 0 0 15px;
}

.reporterText-t-c ul span {
    display: inline-block;
    padding: 2px 10px;
    margin: 0 0 3px 0;
    background: #fff;
    text-transform: uppercase;
    color: #000;
}

.news-events .news-events-issue li > img {
    width: 100%;
}


/* css by ravi*/

.banner-page-1 {
    max-width: 1170px;
    width: 100%;
    height: 440px;
    position: relative;
    margin: auto;
}

.caption-page {
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 370px;
    font-size: 70px;
}

.caption-page span {
    background: rgba(25, 157, 212, 0.8) none repeat scroll 0 0;
    color: #fff;
    display: inline;
    line-height: 100px;
    padding: 0 15px;
}

.caption-page span strong {
    font-weight: normal;
    padding-left: 25px;
}

.share-box {
    background: #199DD4;
    padding: 20px;
    color: #fff;
}

.in-main {
    max-width: 1170px;
    margin: auto;
}

.description-txt {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.share-txt {
    text-align: right;
}

.share-txt ul {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    padding: 15px;
}

.share-txt ul li {
    display: inline-block;
    padding: 0 12px;
}

.share-txt span {
    display: inline-block;
    font-size: 16px;
}

.graph-img img {
    width: 100%;
}

.zip-title {
    color: #fff;
    display: inline-block;
    font-size: 40px;
    height: 52px;
    line-height: 52px;
    margin-left: 11px;
    margin-right: 11px;
    overflow: hidden;
}

.takePosition {
    margin-top: 20px;
    text-align: center;
}

.tc-buttons {
    font-size: 0;
}

.tc-buttons li {
    display: inline-block;
    width: 23%;
    margin: 0 1%;
}

.tc-buttons li a {
    background: #fff none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
}

.in-title {
    font-size: 36px;
    font-weight: 700;
    color: #199DD4l;
    padding: 15px 0;
}

.align-cnt {
    text-align: center;
}

.text-column-2 {
    /*-moz-column-gap: 40px;
  -moz-columns: 2 300px;*/
}

.text-column-2 ul li {
    display: inline-block;
    width: 49%;
    padding: 0 10px;
    font-size: 18px;
    vertical-align: top;
    margin-bottom: 10px;
}

.wid-txt {
    font-size: 15px;
    padding-left: 10px;
}

.garph-2 {}

.garph-3 img {
    width: 100%;
}

.center-blue {
    background: rgba(0, 0, 0, 0) url("../images/curved-blue-angular.png") repeat-x scroll center bottom;
    font-weight: 700;
    height: 80px;
    margin: auto;
    text-align: center;
    width: 220px;
    margin-bottom: 20px;
}

.back-box {
    margin-top: 35px;
    clear: both;
}

.orangeBox {
    background-color: #199DD4;
    color: #fff;
    font-size: 20px;
    margin-bottom: 24px;
    padding: 24px 48px;
}

.orangeBox em {
    font-style: italic;
}

.orangeBox li {
    background: rgba(0, 0, 0, 0) url("../images/bullet-icons.png") no-repeat scroll left 5px;
    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    list-style: inside none disc !important;
    margin-bottom: 10px;
    margin-left: 2%;
    padding: 0 10px 0 17px;
    vertical-align: top;
    width: 47%;
}

.orangeBox a {
    color: #333;
    font-size: 15px;
    text-decoration: none;
}

.banner-page-1 > img {
    max-width: inherit;
}

.sources {
    text-decoration: none;
}

.top-block {
    padding: 20px;
    background: #199dd4;
}

.video-box img {
    width: 100%;
}

.video-in-left {
    background-color: rgba(255, 255, 255, 0.78);
    height: 100%;
    left: 0;
    min-width: 300px;
    padding: 24px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 32%;
}

.video-links li {
    display: block;
}

.video-links li a {
    border: 5px solid #199DD4;
    color: #199DD4;
    cursor: pointer;
    display: block;
    font-size: 18.5px;
    height: 38px;
    line-height: 28px;
    margin-bottom: 7px;
    text-decoration: none;
    text-indent: 10px;
    text-transform: uppercase;
}

.video-in {
    position: relative;
}

.copy-sign-up {
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 24px;
    text-align: center;
}

.col-sm-7 {
    width: 58.3333%;
}

.copy-sign-up .tinyform {
    display: inline-block;
    height: 60px;
}

.copy-sign-up .tinyform input {
    border: 5px solid #199DD4;
    color: #333;
    height: 44px;
    margin: 8px 0 8px 10px;
    outline: 0 none;
    padding: 0;
    text-indent: 10px;
    display: inline-block;
    vertical-align: middle;
}

.copy-sign-up .tinyform .submit {
    border: solid 5px #199DD4;
    border-left: 0;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    line-height: 34px;
    margin: px 0;
    outline: 0 none;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    right: 3px;
}

.cstm-row:after {
    clear: both;
    content: "";
    display: block;
}

.marg-right {
    margin-right: 1%;
}

.marg-left {
    margin-left: 1%;
}

.cls-1 {
    position: relative;
    float: left;
    width: 41.6667%;
}

.cls-2 {
    width: 58.3333%;
    float: left;
    position: relative;
}

.cls-3 {
    position: relative;
    float: left;
    width: 33.3333%;
}

.inblock {
    position: relative;
    margin: 10px;
    height: 282px;
}

.text {
    background-color: rgba(25, 157, 212, 0.9);
    bottom: 0;
    color: #404041;
    font-size: 15.5px;
    height: 107px;
    left: 0;
    line-height: 18px;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    width: 100%;
    color: #fff;
}

.title {
    display: block;
    font-size: 20.5px;
    font-weight: 700;
    margin-bottom: 5px;
}

.description {
    display: inline-block;
    font-size: 16px;
    height: 35px;
    overflow: hidden;
}

.cls-1 img,
.cls-2 img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.inblock > img {
    height: 100%;
    max-width: inherit;
    width: 100%;
}

.all-campaigns {
    padding-right: 50px;
    text-align: right;
    padding-top: 15px;
}

.all-campaigns a {
    color: #199DD4;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.all-campaigns a:hover {
    color: #333;
}

.homepage-about {
    text-align: center;
}

.gary-cur {
    background: rgba(0, 0, 0, 0) url("../images/curved-angular.png") repeat-x scroll center bottom;
    display: inline-block;
    line-height: 60px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.homepage-about p {
    font-size: 19.8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

.homepage-about p a {
    color: #199DD4;
    font-size: 22.7px;
    font-weight: 700;
    text-decoration: none;
    text-decoration: none;
}

.form-titles {
    display: inline-block;
    padding-right: 100px;
    text-align: right;
    vertical-align: top;
}

.video-in-left a {
    text-decoration: none;
}

.video-in-left h2 {
    color: #199DD4;
    font-size: 28px;
    padding-bottom: 10px;
}

.video-box .playButton {
    background: rgba(0, 0, 0, 0) url("../images/playButton.png") no-repeat scroll center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.video-in img {
    vertical-align: middle;
}

@media screen and (max-width: 1023px) {
    .tc-buttons li a {
        font-size: 15px;
    }
    .copy-sign-up h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .news-events .news-events-issue li {
        width: auto;
        float: none;
    }
    /*my*/
    .form-titles {
        display: block;
        padding-right: 0;
        text-align: center;
        vertical-align: top;
    }
    .video-box .playButton {
        top: -280px;
        bottom: inherit;
    }
    .cls-3,
    .cls-2,
    .cls-1 {
        float: none;
        width: 100%;
    }
    .video-in-left {
        min-width: inherit;
        padding: 10px;
        position: static;
        width: 100%;
    }
    .caption-page {
        font-size: 46px;
        width: 270px;
    }
    .caption-page span {
        line-height: 64px;
    }
    .orangeBox li {
        width: 100%;
        margin-bottom: 10px;
    }
    .orangeBox {
        padding: 24px 18px;
    }
    .tc-buttons li {
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }
    .text-column-2 ul li {
        width: 100%;
        margin-bottom: 10px;
    }
    .share-txt img {
        max-height: 30px;
    }
    .share-txt ul li {
        display: inline-block;
        padding: 0 6px;
        vertical-align: middle;
        width: auto;
    }
}

@media screen and (max-width: 479px) {
    .video-in-left h2 {
        font-size: 24px;
    }
    .copy-sign-up h1 {
        font-size: 18px;
    }
    .copy-sign-up {
        margin-top: 10px;
        padding: 10px;
    }
    .video-links li a {
        font-size: 16px;
    }
    .all-campaigns a {
        color: #199dd4;
        font-size: 20px;
    }
    .all-campaigns {
        padding-right: 0;
        padding-top: 15px;
        text-align: center;
    }
    .news-events li .newsCol {
        width: 50%;
        padding-bottom: 15px;
    }
    body.menu-open .bar-header {
        padding: 5px 0;
    }
    body.menu-open .left-menu .bar-header span {
        border: 0 none;
        margin: 0;
    }
    .ui-footer p {
        font-size: 11px;
    }
    .reporter {
        background-size: contain;
        height: 164px;
        width: 300px;
    }
    .news-events .news-events-issue li h3 {
        font-size: 18px;
    }
    .news-events .Read-more a {
        float: none;
    }
}

.sign-img span {
    color: #565a5c;
    font-size: 24px;
    font-weight: 700;
    float: left;
    margin-top: 15px;
}

.sign-img img {
    height: 54px;
    float: left;
    margin-right: 20px;
    border-radius: 100%;
    width: 54px;
    border: 1px solid #ccc;
}

.menu-side-list {
    top: 50px;
}

.menu-side-list {
    top: 85px;
}

.menu-side-list .item {
    font-size: 18px;
    color: #565a5c;
    padding: 15px 15px;
    border-bottom: 1px solid #ebebeb;
}

.menu-side-list .item:first-child {
    border-top: 1px solid #ebebeb;
}

.menu-side-list .item img {
    position: absolute;
    margin-right: 15px;
    left: 15px;
    height: 25px;
}

.menu-side-list .item a {
    color: #565a5c;
    float: left;
    margin-left: 40px;
}

.student-info h1 h3 {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.student-info p {
    font-size: 18px;
    color: #484848;
}

.student-info {
    padding: 0px 15px;
}

.login {
    padding: 0px 15px;
}

.login .item-input {
    border: 0px;
    
}
.login .item-input input
{
    border: 0;
    border-bottom:  1px solid #ddd;
    padding-bottom: 10px;
}
.list.login.focus-in .item-input input:active, .list.login.focus-in .item-input input:focus
{
    border-bottom: 1px solid red;
}

.student-info {
    margin-top: 20px;
}

.login textarea {
    height: 45px;
}

.login h3 {
    color: #484848;
    font-size: 21px;
    font-weight: 700;
}

.tagline {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    text-align: center;
    top: 15%;
}

.tagline p {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 15px;
}

.gender-select label.item.item-checkbox {
    border: 0;
}

.gender-select .item {
    border: 0;
}

.gender-select .item ion-label {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding-top: 5px;
}

.add-btn button {
    border-radius: 50px;
    width: 100px;
    font-size: 16px;
    background: #fff;
    float: right;
    color: #F1473A;
}

ion-content.scroll.scroll-content.ionic-scroll.has-header.gender-select {
    background: #F1473A;
}

.gender-select .item {
    border: 0;
    background: none;
}

.white {
    color: #fff !important;
}

.add-btn button img {
    float: right;
    padding-top: 12px;
}

.gender-select .student-info p {
    color: #fff;
}

.row-day,
.head-row {
    float: left;
    width: 100%;
}

.col-1-day {
    float: left;
    width: 25%;
}

.choose-day {
    background: #fff;
    padding: 15px;
    float: left;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-top: 30px;
}

.col-1-day span {
    color: #010101;
    font-size: 18px;
}

.head-row span {
    display: block;
}

.row-day .col-1-day {}

.small {
    font-size: 13px !important;
    color: #666 !important;
}

.row-day .col-1-day span {
    padding: 20px 0px;
    display: block;
}

.thum-img {
    float: left;
    margin-right: 20px;
}

.tutor-cont h3 {
    color: #484848;
    font-size: 19px;
    font-weight: 700;
}

.tutor-cont p {
    font-size: 16px;
    color: #484848;
}

.tutor-cont p a {
    color: #ff0000;
}

.tutor-list {
    margin-top: 30px;
    float: left;
    width: 100%;
}
.tutor-list-down {
    margin-top: 160px !important;
    float: left;
    width: 100%;
}

.splash {
    background: #F1473A;
    top: 0;
}

.splash .tagline {
    top: 45px;
}

.butn-splash a {
        background: #fff;
    color: #F1473A;
    width: 80%;
    padding: 15px;
    font-size: 24px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #f69385;
    font-weight: 600;
}

.butn-splash a {
    display: block;
    margin-bottom: 30px;
}

.logo {
    display: block;
    margin-bottom: 30px;
}

.logo h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    font-weight: 600;
}

.logo img {
    width: 45%
}

.create-btn-sp {
    background: none !important;
    color: #fff !important;
}

.splash-cont {
    position: static;
    width: 100%;
    text-align: left;
    bottom: -20%;
    padding: 15px;
    background: #F1473A;
}

.splash-cont p {
    font-size: 16px !important;
    font-weight: 400;
    margin-top: 25px;
}

.session-day {
    float: left;
    width: 16%;
    text-align: center;
    margin: 0px 2%;
    border: 1px solid lightgrey
}

.session-day span {
    color: #484848;
    font-size: 15px;
}

.fisrt-day a {
    background: #F1473A;
    color: #fff;
    font-size: 14px;
    display: block;
}

.other-day a {
    background: #00a652;
    color: #fff;
    font-size: 14px;
    display: block;
}

.my-tutor-view {
    padding: 15px;
}

.tutor-name p {
    font-size: 22px;
    color: 484848;
    font-weight: 700;
}

.tutor-name .small {
    font-size: 18px !important;
}

.my-tutor-view {
    text-align: center;
}

.book-session p {
    text-align: left;
    font-size: 21px;
    font-weight: 700;
    color: 484848;
    margin-top: 30px;
}

.tutor-view-list {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 4px;
    color: 484848;
    height: 302px !important;
}

.tutor-view-list ion-item {
    font-size: 18px;
    color: 484848;
}

.view-pro a {
    text-decoration: underline;
}

.book-session p span {
    text-align: right;
}

.booking-heading {
    width: 100%;
    float: left;
}

.booking-heading p {
    float: left;
}

.booking-heading span {
    float: right;
    font-size: 21px;
    font-weight: 700;
    color: 484848;
    margin-top: 30px;
    margin-bottom: 30px;
}

.green-hire .fisrt-day a {
    background: #00a650;
}

.green-hire .other-day a {
    background: #00a650;
}

.grey-hire .fisrt-day a {
    background: lightgrey !important;
}

.grey-hire .other-day a {
    background: lightgrey !important;
}

.profile-address {
    float: left;
    width: 100%;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 30px;
}

.profile-address p {
    float: left;
    width: 50%;
    text-align: left;
    color: #484848;
    font-size: 19px;
    margin-top: 15px;
}

.address-prof {
    padding: 30px 0px;
}

.view-pro a span {
    color: #F1473A;
}

.pend-btn {
    background: #F1473A;
    color: #fff;
    padding: 3px;
    margin-left: 10px;
    text-decoration: none !important;
}

.splash-landing {
    top: 0 !important;
    background: #f03a2d;
    bottom: 0px !important;
}

.button-assertive a {
    color: #fff;
}

.login .login-red {
    background: #F1473A !important;
}

.splash {
    bottom: 0 !important;
}

.button-inner {
    padding: 10px 25px;
    border-radius: 50px;
    background: #fff;
    color: #F1473A;
    display: block;
    font-size: 18px;
    width: auto;
    float: right;
}

.add-btn a img {
    float: right;
    margin-left: 8px;
    margin-top: 1px;
}

.logo p {
    font-size: 18px;
}

.about-info {
    padding: 15px;
    border-top: 1px solid #ccc;
}

.about-info h2 {
    color: #F1473A;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-info img {
    margin-right: 20px;
}

.price {
    font-size: 24px !important;
    font-weight: 700;
    color: #444;
}

.small img {
    margin-right: 5px !important;
}


/*chat css*/

.butn-splash {
    position: relative;
    z-index: 10000;
}

.change-color {
    color: #fff;
}

.red_error {
    color: red text-align: center;
}

.active-check {
    color: #fff;
}

.inactive-check {
    color: #444;
}

.tutor-thumbnail {
    width: 100%;
    float: left;
}

.thum-img {
    float: left;
    margin-right: 5%;
    border-radius: 100px !important;
    float: left;
    width: 22%;
    height: auto;
}

.thum-img a {
    display: inline-block;
    /* border-radius: 100px; */
}

.thum-img img {
    border-radius: 100%;
}

.tutor-cont.ng-binding {
    width: 65%;
    float: left;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #F1473A;
    border-color: #F1473A;
}

.checkbox input:checked:after,
input:checked + .checkbox-icon:after {
    opacity: 0;
}

.my-tutor-view.add-profile-pic img {
    height: 150px;
    border-radius: 100%;
    width: 150px;
}

.item-input {
    padding: 10px 0 10px 0px;
}

.notification_bell {
    float: right;
    position: relative;
}

.notification_top {
    position: absolute;
    background: #F1473A;
    border-radius: 50%;
    height: 20px;
    right: 0px;
    width: 20px;
    top: 4px;
    font-weight: bold;
    color: #fff;
    line-height: 14px;
    line-height: auto;
}
.notification_bell img {
    margin-right: 10px;
    margin-top: 8px;
}

/*.item .checkbox.checkbox-input-hidden.disable-pointer-events.checkbox-circle{
  right: 36px;
}*/

.transaction-left {
    float: left;
    width: 50%;
}

.item-checkbox {
    padding-left: 30px;
}

.col-1-day span {
    font-size: 10px;
}

.tut-img img {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    border: 4px solid #fff;
}

.send_msg {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.send_msg input {
    display: inline;
    width: 80%;
    height: 50px;
    border: 1px solid #ccc;
    padding: 10px;
}

.send_msg button {
    background: red;
    color: white;
    padding: 10px 31px;
    border: none;
    border-radius: 27px;
}

.first-screen-logo {
    float: left;
    height: 38px;
    margin-left: 20px;
    margin-top: 15px;
}

.tagline p {
    float: left;
    width: 100%;
    margin-left: 18px;
    font-size: 30px;
    text-align: left;
    line-height: 30px;
    margin-top: 20px;
}


.hiw {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0px;
    float: left;
    width: 100%;
    color: #484848;
    text-align: center;
    font-family: calibri;
}

.hiw-faq {
    float: left;
    width: 100%;
    z-index: 9;
}

.new-search {
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

.findTutor1 {
    float: left;
    width: 100%;
}

.tagline .logo p {
    /* float: left; */
    width: 100%;
    margin-left: 18px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

.tagline .logo {
    float: left;
    width: 100%;
}

.butn-splash {
    position: relative;
    z-index: 10000;
    float: left;
    width: 100%;
    margin-top: 130px;
}

.splash-cont p {
    margin: 0 !important;
    color: #fff;
    font-size: 14px !important;
}

button.button.button-full.button-assertive {
    width: auto;
    padding: 5px 30px !important;
    height: auto;
    float: right;
    border-radius: 30px;
}

a.CreateAccount.login-red.alagse {
    width: auto !important;
    float: right;
    padding: 15px 30px !important;
    height: auto !important;
    border-radius: 30px;
    line-height: 18px !important;
}

.thum-img img {
    border-radius: 100%;
    height: 85px;
    width: 85px;
}

p.log-sig a {
    color: #F1473A;
    font-size: 21px;
    float: right;
    font-weight: 700;
    margin-top: 5px;
}

.login-logo-mar {
    margin-top: 20%;
}

p.log-sig {
    float: right;
}

a.CreateAccount.login-red {
    width: auto;
    padding: 15px 30px;
    line-height: 18px !important;
    height: auto;
    border: 0 !important;
    border-radius: 15px;
    float: right;
}

.price-teacher {
    float: right;
}

span.small {
    font-size: 10px !important;
}

a.CreateAccount.login-red.setting-submit {
    width: auto;
    padding: 15px 30px;
    line-height: 18px !important;
    height: auto;
    border: 0 !important;
    border-radius: 15px;
    float: right;
    background: #F1473A;
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
    margin-right: 15px;
}

.rate-sub {
    float: left;
    width: 33.33%;
}

.tutor-cont h3 {
    color: #484848;
    font-size: 19px;
    font-weight: 700;
}

.schedule-list {
    margin-top: 0 !important;
}

ion-item-group.tutor-list.schedule-list {
    margin-bottom: 50px;
}

.grn-brd {
    border-left: 4px solid green;
    padding-left: 5px;
}

.rd-brd {
    border-left: 4px solid #F1473A;
    padding-left: 5px;
}

.checkbox input:before,
.checkbox-icon:before {
    border-radius: 0 !important;
}

.col-1-day .item {
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    font-size: 16px;
}

.item-checkbox .checkbox {
    position: static !important;
    /* top: 53%; */
    /* right: 8px; */
    /* left: 8px; */
    z-index: 3;
    margin-top: 0;
}

.item-checkbox {
    padding: 0 !important;
}

.col-1-day {
    float: left;
    text-align: center;
    width: 25%;
}

.checkbox input,
.checkbox-icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

.checkbox input:before,
.checkbox .checkbox-icon:before {
    border-color: #ccc;
}

.list.login {
    float: left;
    width: 100%;
}

.ForgotText .item.item-checkbox .checkbox {
    padding-left: 0;
    float: left;
}

.ForgotText .checkbox input,
.ForgotText .checkbox-icon {
    width: 15px !important;
    height: 15px;
    float: left;
}

.item-content.disable-pointer-events {
    margin-top: 3px;
}

.Forgot-password {
    text-align: right;
    padding-top: 3px;
}

a.CreateAccount.login-red.uplbtn {
    display: block;
    line-height: 68px !important;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 0px;
    padding: 0 !important;
}

a.CreateAccount.fb-pic {
    float: left;
    width: 100%;
}

.invitefrnd {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.invitefrnd img {
    width: 50px;
    vertical-align: middle;
    margin-right: 15px;
}

.inv-sep {
    margin-top: 15px;
}

.redcolor {
    color: red;
}

form{
    position: relative;
}
/*form.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required {
    position: relative;
}*/

a.redcolor.show-pass {
    position: absolute;
    top: 35px;
    z-index: 99999;
    font-size: 15px;
    right: 30px;
}

.relate-pagin {
    position: relative;
}

ion-content.scroll.scroll-content.ionic-scroll.has-header.gender-select {
    background: #F1473A;
    width: 100%;
    float: left;
}

.student-info {
    float: left;
    width: 100%;
}

.add-btn {
    float: left;
    width: 100%;
}

ion-list.disable-user-behavior {
    float: left;
    width: 100%;
}

.page_num {
    text-align: center;
    font-size: 15px;
    color: white;
    float: left;
    width: 100%;
    margin-top: 25px;
    /* position: absolute; */
    /* bottom: 0; */
}

.full-size-btn {
    width: 100%;
    background: #F1473A;
    border: 0;
    padding: 16px;
    color: #fff;
    font-size: 15px;
}

.detail-left {
    float: left;
    width: 40%;
}

.detail-right {
    float: left;
    width: 60%;
}

.about-info {
    padding: 15px;
    border-top: 1px solid #ccc;
    float: left;
    width: 100%;
    clear: both;
}

.city_place {
    border: 0 !important;
    font-weight: bold !important;
}

.arealable h2 {
    color: #787878
}
.remove-line{
	border: 0 !important;
}

.sign-img a{
	font-family: calibrib;
    color: #575B5E;
}
.splash-cont a{
	color: white;  text-decoration: underline;
}
.student-info h1
{
    font-weight: 600;
    margin-top: 60px;
}
.lable-form-p
{
    margin-bottom: 0px;
    color: #333;
}
img.imgclass {
    height: 24px;
    padding: 0;
    margin-top: 15px;
}
.mobile-input
{
    padding-left: 60px !important;
}
label.item.item-input.city_place {
    margin-top: 50px;
}
label.arealable {
    margin-top: 50px;
    float: left;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}
label.arealable input
{
    border-bottom: 1px solid #ddd;
}
.nearby1
{
    float: left;
    width: 100%;
}
input.city_place {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd !important;
}
.nearby1
{
    float: left;
    width: 100%;
}
label.item.item-input.border-near {
    border-bottom: 1px solid #ddd;
}
.top-search-count {
    padding-left: 60px;
}
.bar-header span {
    position: absolute;
    right: 20px;
    top: 20px;
}
span.notification_top.ng-binding {
    top: 4px;
    right: 0px;
}
.bar .buttons-left span {
    margin-right: 5px;
    display: inherit;
    right: 5px;
}
label.item.item-input.border-near {
    float: left;
    width: 100%;
}
.about-info p
{
    font-size: 14px;
}
.about-info img {
    margin-right: 20px;
    width: 40px;
}
.about-info p
{
    margin-bottom: 20px;
}
.about-info.rating-img img
{
    width: auto;
}
.full-size-btn.nocolor {
    width: 100% !important;
    float: left;
    background: transparent;
    color: #575B5E;
    border: 1px solid #575B5E;
    font-size: 21px;
    font-weight: 600;
}
.uploadpic{
    width:38%;
}
.info_center{
    text-align: center;
}
.text-center{color: #F1473A;
    font-size: 18px;
    margin-top: 15px;}
.redborder{
    border-radius: 50%;
    border: 2px solid #F1473A;
}
.redcolor{
  color: #e32636;
}
.top_feild{
  padding: 5px 0 5px 12px;
    font-size: 18px;
    color: #484848;
    font-weight: bold;
    display: block;}
    button.button.button-full.button-assertive {
    width: auto;
    padding: 5px 30px !important;
    height: auto;
    float: right;
    border-radius: 30px;
}
.pop-click-box {
    position: relative;
    float: left;
    width: 100%;
}
.redcolor.popup-clk {
    position: relative;
    float: right;
    font-size: 20px;
    margin-top: -98px;
    margin-bottom: 0;
    z-index: 15415451651546545465;
}
.top_feild
{
  float: left;
  width: 100%;
}
.done{
    float: right;
    font-size: 18px;
}
.bodycolor{
    background: #ededed;
}
.white_bg{
    background: #fff;
}
.student_name h3{
    margin-top: 18%;
    font-size: 22px;
    font-weight: bold; 
}
.pop-click-box input.ng-pristine.ng-untouched.ng-valid.ng-not-empty {
    color: #F1473A ;
    font-size: 20px;
    margin: 0 12px;
}
.student-info.student_name input{
    color: #F1473A ;
    font-size: 20px;
    padding: 0 15px;
}
.popup-body label
{
    width: 100%;
    float: left;
}
span.gender-key {
    float: left;
    width: 50%;
}
.popup-body label input{
    float: right;
    width: 50%;
    margin-top: 4px;
}
.lesson-request-sent {
    background: #8dc153;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.lesson-request-sent h3
{
    color: #fff;
    float: left;
    width: 100%;
}
.lesson-request-sent p
{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
.lesson-request-sent h3 img
{
    height: 25px;
    vertical-align: middle;
}
.top-red-div
{
    float: left;
    width: 100%;
    background: #F1473A;
    height: 55px;
}
.my-tutor-view.with-red-head {
    text-align: center;
    margin-top: 0;
    position: relative;
    top: -50px;
}
a.skip {
    float: left;
    width: 100%;
    text-align: right;
    padding-right: 45px;
    font-size: 24px;
    margin-top: 40px;
    color: #484848;
}
.popupcls {
    background: #fff;
    padding: 20px;
    float: left;
    width: 100%;
    position: absolute;
    top: 65px;
    z-index: 99999;
    margin: 0px -20px;
    width: 109%;
    padding: 20px !important;
    opacity: 0.8;
}
.popupcls ul
{
    background: #F1473A;
    padding-right: 20px;
}
.sort-li li
{
    color: #fff;
    font-size: 15px;
    text-align: right;
    line-height: 36px;
}
.overlay-sort
{
    height: 500px;
    background:rgba(0,0,0,0.8);
}
.user-name-land {
    position: absolute;
    top: 50px;
    font-size: 21px;
    color: #fff;
    left: 19px;
}
button.full-size-btn.send-rrquest-now-pic.ng-binding img {
    float: none;
    margin-right: 30px;
    vertical-align: middle;
    height: 55px;
}
button.full-size-btn.send-rrquest-now-pic.ng-binding {
    text-align: left;
    padding: 16px 40px;
    font-size: 19px;
}
.studentgender {
    float: left;
    width: 100%;
    font-size: 15px;
    margin-top: 0px;
   
    padding: 12.5%;
    background: rgba(0,0,0,0.8);
    height: 700px;
    position: relative;
}
.gender-header {
    padding: 15px;
    background: #fff;
    color: #F1473A;
    font-size: 20px;
    border-bottom: 2px solid #F1473A;
}
.studentgender ul
{
   
    background: #fff

}
.studentgender ul li
{
     padding: 15px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}
.studentgender ul li span
{
    float: right;
}
.studentgender ul li span img
{
    height: 20px;
    vertical-align: middle;
    border: 1px solid #333;
    border-radius: 100%;
}
.studentgender ul li span .border-rd
{
    border: 1px solid #F1473A;
}
.fromtop{
    top: 35px;
}
.city_place
{
    font-weight: 900 !important;
    color: red !important;
}
.about_me
{
    height: 40px;
    overflow: hidden;
    margin-bottom: 0px;
}
.readmore {
    color: red;
    font-size: 14px;
    float: right;
}
.aboutmedetail {
    margin-top: 80px;
    padding: 15px;
}
.footer-fix-btn {
    float: left;
    width: 100%;
}
.footer-fix-btn .full-size-btn {
    font-size: 18px;
    padding: 10px 0px;
}
.footer-fix-btn button.button.button-full.button-null
{
  margin: 0;
  font-size: 16px;
  padding: 5px 0px;
}
.bar-footer
{
  height: auto !important;
}
.profile-address span{
 display:block; line-height:24px;
}

.profile-address {
    float: left;    
    width: 100%;    
    border-bottom: 1px solid #ddd;    
    padding-bottom: 15px;    
    padding-top: 10px;
}
.book-session{
 float:left; 
 width:100%;
}
.right-profile-pic{
 margin:0 !important; 
 margin-top:15px !important;
}
.my-tutor-view {
    float: left;    
    width: 100%; 
    padding-bottom:0px;
}
.good-fit{
 float:left; 
 width:100%;
}
.good-fit p{
 text-align:left; 
 font-size:15px; 
 padding:15px 0px; 
 margin-bottom:0;
}
.step-content{
 padding:15px 0px; 
 font-size:18px; 
 float:left; 
 width:100%; 
 margin-bottom:0px; 
 text-align:left; 
 border-bottom:1px 
 solid #ddd;
}
.step-content.price-big{
 border-bottom:0px !important;     
 padding-bottom: 0px;
}
.step-content h3{
 font-weight:700;
}
.step-content p{
 margin-bottom:0px;
}
.session-day{ border:1px solid #808487;}
.green-hire{ border: 1px solid #01a54f !important;}
.fisrt-day a {    background: #808487;    color: #fff;    font-size: 14px;    display: block;}
.footer-menu{ float:left; width:100%; border-top:1px solid #ddd;}
.call-btn{ float:left; width:25%; padding: 15px 10px 12px; text-align:center;}
.call-btn img {    display: block;    margin-bottom: 5px;    text-align: center;    margin: 0 auto 5px;}
.call-btn span{ display:block; font-size:18px;}
.bar-footer {    height: auto;    padding: 0;    z-index: 999999999;}
.session-gap{ margin-bottom:40px;}
p.view-pro a{ font-size:16px; color:#02a650; }
.noborder{
    border: 0;
    border-top: 1px solid #ddd;
}
.noborder p{
    color: black;
}
.timetable-day
{
    float: left;
    width: 100%;
    padding: 30px;
}
.timetable-day h3
{
    margin-bottom: 20px;
}
.timetable-day h3, .timetable-day p
{
    font-weight: 700;
    color: #000;
}
.timetable-day p
{
    font-size: 18px;
    margin-left: 10px;
}
.col-red
{
    color: #F1473A !important;
}
button.popupbutton {
    border: 0;
    padding: 15px;
    font-size: 16px;
    /* float: right; */
    background: none;
}
.studentgender ul li:last-child
{
    text-align: right;
}
.call-btn.right-side {
    float: right;
    padding: 5px 10px 50px;
}
.float_rigth{text-align: right;}
.skip_btn { 
    margin-right: 29px;
    line-height: 46px;
    font-weight: bold;
}

.textarea_cls {
    width: 88%;
    float: left;
    height: 138px;
    margin: 0 30px;
    color: #F1473A;
}
a.login-btn-new {
    float: right;
}
.arealable h2
{
    font-size: 30px;
    color: #888888;
    font-weight: 700;
}
label.item.item-input.city_place input
{
    font-size: 30px;
    color: #F1473A;
    font-weight: 700;
    height: 70px;
    padding-bottom: 0px !important; 
}
.next-fix-btn
{
    border: 0 !important;   
}
.next-fix-btn .add-btn
{
    background: #F1473A;
    padding: 15px;
    text-align: center;
}
.next-fix-btn .add-btn span {
    text-align: center;
    display: block;
    margin-bottom: -38px;
    color: #fff;
    font-size: 18px;
}
.right-next img
{
    height: 50px;
}
ion-item-group.tutor-list.small-tutor-list
{
    margin-bottom: 40px;
}
ion-item-group.tutor-list.small-tutor-list .thum-img img
{
    width: 50px;
    height: 50px;
}
ion-item-group.tutor-list.small-tutor-list .thum-img
{
    width: 15%;
    height: auto;
}
.small-tutor-list-content {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.small-tutor-list-content p
{
    color: #333;
}
.item {
    padding: 10px 0px;
}
img.hd-icon {
    height: 18px;
}
img.hd-icon2 {
    height: 25px;
}
img.hd-back {
    width: auto;
    height: 18px;
    margin-top: 16px;
}  

.about-content.new-content {
    margin-top: 76px !important;
} 
.review-listing
{
    float: left;
    width: 100%;
    padding: 15px;    
}
.review-listing
{
    font-size: 18px;
    color: #484848;
}
.review-listing-left, .review-listing-right
{
    float: left;
    width: 50%;
    text-align: left;
}
span.phn-req {
    float: left;
    margin-top: 45px;
}